<% provide(:title, 'Home') %>

<div class="jumbotron">
	<h1><%= ENV["SITE_NAME"]%></h1>

	<br>

	<p>The Coral Trait Database is a growing compilation of scleractinian coral life history trait, phylogenetic and biogeographic data. The database was initially a series of spreadsheet tables, but starting in 2013 this data is being transitioned into an online collaborative database with a growing number of contributors.</p>
	
  <p>
		<div id="map-canvas" class="map-container"></div>
	</p>

	<p>As of today, there are <%= @obs %> coral observations with <%= @mea %> trait entries for 1555 coral species in the database. Most of these entries are for shallow-water, reef-building species. Data contributors have access control over the data they enter.  Nonetheless, an increasing proportion of these data is becoming publicly accessible.</p>

	<% if !signed_in? %>
		<p><%= link_to "Sign up?", signup_path, class: "btn btn-lg btn-primary" %></p>

		<p>Sign up to become a member and recieve periodic news about the database. Sign up is not required to access public data.  Please email <a href="mailto:coraltraits@gmail.com?subject=Coral Trait Database enquiry">coraltraits@gmail.com</a> with any comments, to become a contributor, or for more information.</p>
	<% end %>

	<div class="row">
    <div class="col-md-9">
      <%= image_tag "veron/Acropora_hyacinthus.png", :style => "border:0px;", class:  "img-responsive" %>
    </div>
    <div class="col-md-3">
      <p><small><a href="/species/80"><em>Acropora hyacinthus</em></a> geographic distribution based on "ecoregions" from Veron and Stafford-Smith (2002) Corals of the World [<a href="http://coral.aims.gov.au/info/about.jsp">link</a>]</small></p>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-9">
      <%= image_tag "hughes/Acropora_hyacinthus.png", :style => "border:0px;", class:  "img-responsive" %>
    </div>
    <div class="col-md-3">
      <p><small><a href="/species/80"><em>Acropora hyacinthus</em></a> geographic distribution based on Hughes et al. (2013) Ecological Archives [<a href="http://www.esapubs.org/archive/ecol/E094/150/">link</a>].</small></p>
    </div>
  </div>
		

</div>

<script type="text/javascript">
  var locations = <%= raw @locations.map {|i| [i.location_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s] } %>;

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 2,
    center: new google.maps.LatLng(0, 155),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    streetViewControl: false
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent('<a data-no-turbolink="true" href="locations/'+locations[i][3]+'">'+locations[i][0]+'</a>');
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>
