<% provide(:title, 'Home') %>

<div class="jumbotron">
	<h1><%= ENV["SITE_NAME"]%></h1>

	<br>

	<p>The Coral Trait Database is a growing compilation of scleractinian coral life history trait, phylogenetic and biogeographic data.  As of today, there are <%= Observation.all.size %> coral observations with <%= Measurement.all.size %> trait entries for <%= Specie.all.size %> coral species in the database. Most of these entries are for shallow-water, reef-building species.</p>

	<% if !signed_in? %>
		<p><%= link_to "Sign up?", signup_path, class: "btn btn-lg btn-primary" %></p>

		<p>Sign up to become a member and recieve periodic news about the database. Sign up is not required to access public data.  Please email <a href="mailto:<%= ENV["GMAIL_USERNAME"] %>?subject=<%= ENV["SITE_NAME"] %> enquiry"><%= ENV["GMAIL_USERNAME"] %></a> with any comments, to become a contributor, or for more information.</p>
	<% end %>

  <p>
    <div id="map-canvas" class="map-container"></div>
  </p>


</div>


<script type="text/javascript">
  var locations = <%= raw @locations.map {|i| [i.location_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s] } %>;

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 2,
    center: new google.maps.LatLng(0, 155),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    streetViewControl: false
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent('<a data-no-turbolink="true" href="locations/'+locations[i][3]+'">'+locations[i][0]+'</a>');
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>
