<% provide(:title, 'Meta') %>

<h1><%= @trait.trait_name %> (ID: <%= @trait.id %>)</h1>

<p>A list of potential database errors for editors to monitor.</p>

<div class="btn-group">
	<%= link_to "Back", meta_path, class: "btn btn-default btn-sm" %>
	<%= link_to 'Check for Duplicates', duplicate_meta_path(@trait.id), class: "btn btn-default btn-sm" %>
</div>

<p>
	<small>*Checking for duplicate records may take a while, depending on how many observations there are to contrast.  This looks for observations with the same resource, coral species, trait, measurement value, and standard.</small>
</p>

<h3>Observation issues</h3>

<ul class="list-group">

  <li class="list-group-item">							

		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Observations with no user:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where(:trait_id => @trait.id).map(&:observation_id)).where("user_id IS NULL OR user_id IS ?", "") %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Observations with no coral:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where(:trait_id => @trait.id).map(&:observation_id)).where("coral_id IS NULL OR coral_id IS ?", "") %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Observations with no resource:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where(:trait_id => @trait.id).map(&:observation_id)).where("resource_id IS NULL OR resource_id IS ?", "") %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Observations with no location:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where(:trait_id => @trait.id).map(&:observation_id)).where("location_id IS NULL OR location_id IS ?", "") %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Species with more than one observation of trait:</strong><br>
				For use when only one should exist, like growth form
			</div>
			<div class="col-md-9">
				<% dup = Observation.where(:id => Measurement.where(:trait_id => @trait.id).map(&:observation_id)).map(&:coral_id) %>
				<% corals = dup.select{|element| dup.count(element) > 1 } %>
				<% if !corals.empty? %>
					<% Coral.where("id IN (?)", corals).each do |coral| %>
						<%= link_to coral.coral_name, coral_trait_path(coral, @trait), class: "label label-warning" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>
</ul>

<h3>Measurement issues</h3>

<ul class="list-group">
  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Measurements with no value type:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where("trait_id IS ? AND (value_type IS NULL OR value_type IS ?)", @trait.id, "").map(&:observation_id)) %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Measurements with no standard:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where("trait_id IS ? AND (standard_id IS NULL OR standard_id IS ?)", @trait.id, "").map(&:observation_id)) %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Measurements with no methodology:</strong><br>
				Not a big deal, but always good to have!
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where("trait_id IS ? AND (methodology_id IS NULL OR methodology_id IS ?)", @trait.id, "").map(&:observation_id)) %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-warning" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>

  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-3" style="text-align:right;">
				<strong>Measurements with no value:</strong>
			</div>
			<div class="col-md-9">
				<% obs = Observation.where(:id => Measurement.where("trait_id IS ? AND (value IS NULL OR value IS ?)", @trait.id, "").map(&:observation_id)) %>
				<% if !obs.empty? %>
					<% obs.each do |o| %>
						<%= link_to o.id, observation_path(o.id), class: "label label-danger" %>
					<% end %>
				<% else %>
					<span class="label label-success">looking good</span>
				<% end %>
			</div>
		</div>
	</li>
</ul>


<% with = Observation.where(:id => Measurement.where(:trait_id => @trait.id).map(&:observation_id)).map(&:coral_id).uniq %>
<% corals = (Coral.all.map(&:id) - with) %>
<h3>Corals without this trait (<%= corals.count %> of <%= Coral.all.count %>)</h3>
<ul class="list-group">
  <li class="list-group-item">							
		<div class="row">
			<div class="col-md-12">
				<% Coral.where(:id => corals).each do |coral| %>
					<%= link_to coral.coral_name, coral_path(coral), class: "label label-warning" %>
				<% end %>
			</div>
		</div>
	</li>
</ul>
