<% provide(:title, 'Citations') %>


<div class="page-header">
  <h1>Citation manager</h1>
</div>

<%= hidden_field_tag :trait, params[:trait] %>
<%= hidden_field_tag :resource, params[:resource] %>

<p>Trait data have primary (trait-level) and secondary (observation-level) resources that should be cited when the data are used for analyses and publications.  Primary resources, which are present when data were compiled and published by one or more studies, are listed below.  (Secondary resources are associated with each observation, which are listed where observation-level data are displayed.)</p>

<p>
	<% if !params[:trait].blank? %>
		<%= link_to 'Back', trait_path(params[:trait]) %>
	<% else %>
		<% if !params[:resource].blank? %>
			<%= link_to 'Back', resource_path(params[:resource]) %>
		<% end %>
	<% end %>
</p>

<div class="well">
	<%= link_to 'New Citation', new_citation_path, class: "btn btn-primary btn-md pull-right" %>
	
	<br/>Download citation list as a <%= link_to "csv", citations_path(format: "csv") %>.
</div>

<table class="table">
  <thead>
    <tr>
      <th style="text-align:right;">Trait</th>
      <th>Resource</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<% temp = "" %>
    <% @citations.sort_by{ |h| h.trait.trait_name }.each do |citation| %>
      <tr>

				<% if temp != citation.trait.trait_name %>
					<% temp = citation.trait.trait_name %>
					<td style="text-align:right;"><%= link_to citation.trait.trait_name, trait_path(citation.trait) %></td>
      
				<% else %>
					<td style="border:none;"></td>
				<% end %>

        <td><%= link_to citation.resource.author, resource_path(citation.resource) %></td>
        <td><%= link_to 'Edit', edit_citation_path(citation) %>
				<% if !current_user.blank? && current_user.admin? %> |
	        <%= link_to 'Delete', citation, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



