<div class="nested-fields">

	<script>
	  $(document).ready(function() {
			$('select#simple-example').select2();
			$('select#traits_select').select2();
	    $('#traits_select').change(function() {
	      $.ajax({
	        url: "update_values",
	        data: {
						trait_id: $("#traits_select").val()
					},
	        dataType: "script"
	      });
	    });
	    $('#traits_select').ready(function() {
	      $.ajax({
	        url: "update_values",
	        data: {
						trait_id: $("#traits_select").val()
					},
	        dataType: "script"
	      });
	    });
	  });
	</script>

  <div class="well">

    <%= f.hidden_field :user_id, :value => current_user.id %>
		

		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label :trait %>
					<br/><%= f.select :trait_id, Trait.all.map { |u| [u.trait_name, u.id] }, { include_blank: 'Choose trait...', class: "form-control" }, { id: 'traits_select' } %>
				</div>
			</div>
		</div>

		<div class="row">
		  <div class="col-md-12" id="values_select">
				<%#= render 'values' %>
			</div>    
		</div>
		
		<div class="row">
		  <div class="col-md-12">
				<div class="form-group">
						<%= f.label :value %>
						<% if f.object.id %>
				  		<small class="pull-right">(originally entered as: <%= f.object.orig_value %>)</small>
						<% end %>
						<% if !f.object.id %>
							<%# f.text_field :value, :placeholder => "Value", class: "form-control" %>
							<%= f.select :value, [], { include_blank: 'Choose Value', class: "form-control" }, {id: 'trait_values' } %>
							<%= f.hidden_field :orig_value, :value => params[:value] %>
						<% else %>
							<%= f.text_field :value, class: "form-control" %>
						<% end %>
					</div>
			</div>    
		</div>
		
		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label :standard %>
					<br/>
					<%#= f.select :standard_id, Standard.all.map { |u| ["#{u.standard_name} (#{u.standard_unit})", u.id] }, { include_blank: 'Choose standard...', class: "form-control" }, { id: 'simple-example' } %>
					<%= f.select :standard_id, [], { include_blank: 'Choose standard...', class: "form-control" }, { id: 'trait_standard' } %>
				</div>
			</div>
		</div>    
	  
      
		<div class="row">
		  <div class="col-md-6">
			  <div class="form-group">
				  <%= f.label :precision_type %>
				  <%#= f.text_field :precision_type, class: "form-control" %>
					<%= f.select :precision_type, ['standard_error', 'standard_deviation', '95_ci', 'range'], {:include_blank => "Choose if applicable..."}, class: "form-control" %>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				  <%= f.label :precision %>
				  	<%= f.text_field :precision, class: "form-control" %>
				</div>
			</div>
		</div>
		
		<div class="row">
		  <div class="col-md-6">
			  <div class="form-group">
				  <%= f.label :precision_upper %>
				  	<%= f.text_field :precision_upper, class: "form-control" %>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				  <%= f.label :replicates %>
				  	<%= f.text_field :replicates, class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label :notes %>
				  	<%= f.text_area :notes, class: "form-control" %>
				</div>
			</div>
		</div>

		<%= link_to_remove_association "remove", f %>

	</div>
</div>


