<div class="nested-fields">
	<% @random_number = rand(50).to_s %>

	<script>
	  var a = 0;
	  $(document).ready(function() {
	  	$('select.my_standard').select2();
			$('select.my_trait').select2();
			$('select.my_methodology').select2();
		
	    $('.my_trait').change(function() {
	      $.ajax({
	        url: "/observations/update_values",
	        cache: false,
	        data: {
	        			element_id: $(this).attr('id'),
								trait_id: $(this).val(),
								measurement_id: $(this).parents('.nested-fields').find('.measurement_id').attr("value")
					},
	        dataType: "script"

	      });
	    });
	  });
	</script>
	<span class="measurement_id hidden" value="<%= f.object.id if f.object.id %>" > </span>
  <div class="well">
		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label :trait %>
					<br/>
					<% if !f.object.id %>
						<%= f.select :trait_id, Trait.all.map { |u| [u.trait_name, u.id] }, { include_blank: 'Choose trait...', class: "form-control" }, { :"data-custom-id" => "trait"+ @random_number, class: "my_trait" } %>
					<% else %>
						<%= f.select :trait_id, Trait.all.map { |u| [u.trait_name, u.id] }, { include_blank: 'Choose trait...', class: "form-control" }, {:"data-custom-id" => "trait"+ @random_number, class: "my_trait" } %>
					<% end %>
				</div>
			</div>
		</div><!-- End ROW -->

		<div class="row">
		  <div class="col-md-6">
				<div class="form-group">
					<%= f.label :value %>
					<% if f.object.id %>
			  		<small class="pull-right">(originally entered as: <%= f.object.orig_value %>)</small>
					<% end %>
				
					<% if !f.object.id %>
						<%= f.select :value, [], { include_blank: 'Choose Value', class: "form-control" } %>
						
					<% else %>
						<% if not f.object.trait.traitvalues.empty? %>
							<%= f.select :value, f.object.trait.traitvalues.map { |v| [ v.value_name, v.id ]} , { include_blank: 'Choose Value' }, {class: "form-control", class: "my_traitvalue"} %>
					  
						<% else %>
							<%= f.text_field :value, class: "form-control", :"data-custom-id" => "value"+ @random_number %>	
						<% end %>

					<% end %>
					<%= f.hidden_field :orig_value, :value => params[:value], :"data-custom-id" => "orig_value"+ @random_number %>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :value_type %>
					<%= f.select :value_type, ['raw_value', 'mean', 'median', 'maximum', 'minimum', 'model_derived', 'expert_opinion' , 'group_opinion'], { include_blank: 'Choose...' , class: "form-control"}, {class: "value_type"} %>
				</div>
			</div>
		</div> <!-- End ROW -->
		
		<div class="row">
		  <div class="col-md-6">
			  <div class="form-group">
				  <%= f.label :standard %>
					<br/>
					<%= f.select :standard_id, Standard.all.map { |u| ["#{u.standard_name} (#{u.standard_unit})", u.id] }, { include_blank: 'Choose standard...', class: "form-control" }, { :"data-custom-id" => "standard"+ @random_number, class: "my_standard" } %>
					<%#= f.select :standard_id, [], { include_blank: 'Choose standard...', class: "form-control" }, { id: unique_standard_id } %>

					<span data-custom-id = <%= "suggested_standard"+ @random_number %> class="hidden"> Suggested standard: </span>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				  <%= f.label :methodolgy_id %> <br/>
				  <% if !f.object.id %>
				  	<%= f.select :methodology_id, [], { include_blank: 'Choose Methodology', class: "form-control" }, {:"data-custom-id" => "methodology"+ @random_number , class: "my_methodology"} %>
				  <% else %>
						<%= f.select :methodology_id, f.object.trait.methodologies.map { |m| [ m.methodology_name, m.id ]} , { include_blank: 'Choose Methodology', class: "form-control" }, {:"data-custom-id" => "methodology"+ @random_number , class: "my_methodology"} %>
				  <% end %>
					<br/>
				</div>
			</div>
		</div><!-- End ROW -->
	  
      
		<div class="row">
		  <div class="col-md-6">
			  <div class="form-group precision">
				  <%= f.label :precision_type %>
				  <%#= f.text_field :precision_type, class: "form-control" %>
					<%= f.select :precision_type, ['standard_error', 'standard_deviation', '95_ci', 'range'], {:include_blank => "Choose if applicable..."}, class: "form-control" %>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group precision">
				  <%= f.label :precision %>
				  	<%= f.text_field :precision, class: "form-control" %>
				</div>
			</div>
		</div><!-- End ROW -->
		
		<div class="row">
		  <div class="col-md-6">
			  <div class="form-group precision">
				  <%= f.label :precision_upper %>
				  	<%= f.text_field :precision_upper, class: "form-control" %>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group precision">
				  <%= f.label :replicates %>
				  	<%= f.text_field :replicates, class: "form-control" %>
				</div>
			</div>
		</div><!-- End ROW -->

		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label :notes %>
				  	<%= f.text_area :notes, class: "form-control" %>
				</div>
			</div>
		</div><!-- End ROW -->

		<%= link_to_remove_association "remove", f %>

	</div> <!-- End Well -->
</div> <!-- End Nested-fields -->

