$('#values_select').html("<%= escape_javascript(render 'values', :locals => {:value => @values, :standard => @standards}) %>");

console.log('printing element');
var val = '#trait_value' + <%= @element_id %>
var val_id = 'trait_value' + <%= @element_id %>
var val_option = val + ' option'
var standard = '#trait_standard'+ <%= @element_id %>
var standard_option = standard + ' option'
console.log('<%= @element_id %>');
console.log(val);
console.log(standard);

$(val_option).remove();
$(val).append('<option> Choose Value</option>');

$(standard_option).remove();
$(standard).append('<option> Choose Standard</option>');

var name = $(val).attr('name');

<% if @values.size == 0 %>
	
	var input_box = '<input type="text" id="' + val_id + '" name="' + name + '" />' ;
	$(val).replaceWith(input_box);
	

<% else %>
	var select_box = '<select id="' + val_id + '" name="' + name + '" > <option> Choose Value..<option> </select>' ;
	$(val).replaceWith(select_box);

	<% @values.each do |value| %>
		
		var option ="<option value= <%= value %> ><%= value %></option> ";
		$(val).append(option);
		 
	<% end %>
<% end %>

var option = "<option value= <%= @standard.id %> ><%= @standard.standard_name %> ( <%= @standard.standard_unit %>)</option> ";
$(standard).append(option)



