<p>
  Dear <%= @user.name %>,
</p>

<p>
  Thank you for signing up with the <%= ENV["SITE_NAME"] %>. You can now sign-in with your email and password here: <%= ENV["SITE_URL"] %>/signin
</p>

<p>
  With best wishes,
</p>

<p>
  The <%= ENV["SITE_NAME"] %> team<br>
  <%= ENV["SITE_URL"] %>
</p>
