
<div class="col-md-3">
	<h1>Search</h1>
	<hr>

	<div class="ui-widget">
  	<%= form_tag search_index_path, :method => :get do %>
			<div class="form-group">
		    <%= text_field_tag :search, params[:search],  { class: "form-control search", placeholder: "Search..." }   %>
			</div>
	    
			<div class="form-group">
		    Limit search to (optional):
		    <%= select_tag 'model_name', options_for_select(['Specie', 'Trait', 'Observation', 'Resource', 'Standard', 'Location', 'Methodology']), { :multiple => true, :size =>7, class: "form-control"} %>
			</div>

	    <%= submit_tag "Search", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<div class="col-md-9">

	<% if defined?(@result_present) %>
		<!-- <h3>Results...</h3> -->
	<% end %>
	
	<% if (defined?(@result_present) ) && (not @result_present )%>
		<div class="alert alert-danger">Your query did not result any results.</div>
	<% end %>

	<% if @specie_search  %>
		<% if not @specie_search.results.blank? %>
			<h3><%= link_to "Species", species_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @specie_search.results.sort_by{|e| e[:specie_name]}.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.specie_name, s %>
     			<div class="btn-group pull-right">							
						<%= link_to "Show", s, class: "btn btn-xs btn-default" %><%#= link_to "Edit", edit_specie_path(s), class: "btn btn-xs btn-default" %>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @trait_search %>
		<% if not @trait_search.results.blank? %>
			<h3><%= link_to "Traits", traits_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @trait_search.results.sort_by{|e| e[:trait_name]}.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.trait_name, s %>
     			<div class="btn-group pull-right">							
						<%= link_to "Show", s, class: "btn btn-xs btn-default" %>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @standard_search %>
		<% if not @standard_search.results.blank? %>
			<h3><%= link_to "Standards", standards_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @standard_search.results.sort_by{|e| e[:standard_name]}.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.standard_name, s %>
					<% if s.standard_unit %>
						(<%= s.standard_unit %>)
					<% end %>
     			<div class="btn-group pull-right">							
						<%= link_to "Show", s, class: "btn btn-xs btn-default" %>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>


	<% if @location_search %>
		<% if not @location_search.results.blank? %>
			<h3><%= link_to "Locations", locations_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @location_search.results.sort_by{|e| e[:location_name]}.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.location_name, s %><br>
					Latitude: <%= s.latitude %> | Longitude: <%= s.longitude %>
     			<div class="btn-group pull-right">							
						<%= link_to "Show", s, class: "btn btn-xs btn-default" %>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @resource_search %>
		<% if not @resource_search.results.blank? %>
			<h3><%= link_to "Resources", resources_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @resource_search.results.sort_by{|e| e[:title]}.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.title, s %><br>
					Year: <%= s.year %> | Author: <%= s.author %>
					<% if s.journal %>
						| <em><%= s.journal %></em>
					<% end %>
     			<div class="btn-group pull-right">							
						<%= link_to "Show", s, class: "btn btn-xs btn-default" %>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @methodology_search %>
		<% if not @methodology_search.results.blank? %>
			<h3><%= link_to "Methodologies", methodologies_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @methodology_search.results.sort_by{|e| e[:methodology_name]}.each do |s| %>
	     	<li class="list-group-item">							
					<%= link_to s.methodology_name, s %>
     			<div class="btn-group pull-right">							
						<%= link_to "Show", s, class: "btn btn-xs btn-default" %>
					</div>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if @observation_search %>
		<% if not @observation_search.results.blank? %>
			<h3><%= link_to "Observations", observations_path(search: params[:search]) %></h3>
		<% end %>
		<ul class="list-group">
			<% @observation_search.results.each do |s| %>
				<% s.measurements.each do |m| %>				
		     	<li class="list-group-item">							
						<%= link_to "Observation #{s.id}", s %><br>
						<em><%= link_to s.specie.specie_name, specie_path(s.specie) %></em>
						<% if s.location %>
							| <%= link_to s.location.location_name, location_path(s.location) %>
						<% end %>
						| <%= link_to m.trait.trait_name, trait_path(m.trait) %> | <%= m.value %>
						<% if m.standard.standard_unit %>
							(<%= m.standard.standard_unit %>)
						<% end %>
	     			<div class="btn-group pull-right">							
							<%= link_to "Show", s, class: "btn btn-xs btn-default" %>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	<% end %>

</div>
