
<div class="row">

<div class="list-group col-md-3">
	
  <a href="#" class="list-group-item active">
    Search Form
  </a>
  	<%= form_tag search_index_path, :method => :get do %>
  	<br>
			  <p>

			  	<b>Search Query</b> <br/>
			    <%= text_field_tag :search, params[:search],  { class: "form-control" }   %> <br/><br/>
			    
			    <b>Models to Search </b> <br/>
			    <i><small>( You can select multiple models by holding command/control key and clicking the items) </small></i><br/><br/>
			    <%= select_tag 'model_name', options_for_select(['Coral', 'Trait', 'Observation', 'Resource', 'Standard', 'Location']), { :multiple => true, :size =>7, class: "form-control"} %> <br/><br/>
			    <%= submit_tag "Search", class: "btn btn-primary ", :name => nil %>
			<% end %>
</div>

		


<div class="col-md-9">
	<h3> Search Results... </h3>

	<% if not defined?(@result_present) %>
		Welcome to Generic Search Area.
	
	<% end %>
	
	<% if (defined?(@result_present) ) && (not @result_present )%>
		Sorry, Your query did not match any result
	<% end %>
	


	<% if @coral_search  %>
		<% if not @coral_search.results.blank? %>
			<h4 class="coloured">Corals</h4>
			<hr/>
		<% end %>
		<% @coral_search.results.each do |s| %>
			
			<%= link_to s.coral_name, s %> 
			<span class="pull-right">
				<%= link_to "Show", s %> | <%= link_to "Edit", edit_coral_path(s) %>
			</span>
			<hr/>
		<% end %>

	<% end %>


	<% if @trait_search %>
		<% if not @trait_search.results.blank? %>
			<h4 class="coloured">Traits</h4>
			<hr/>
		<% end %>
		<% @trait_search.results.each do |s| %>
			
			<b><%= link_to s.trait_name, s %> </b>
			<span class="pull-right">
				<%= link_to "Show", s %> | <%= link_to "Edit", edit_trait_path(s) %>
			</span>
			<hr/>
		<% end %>

	<% end %>



	<% if @standard_search %>
		<% if not @standard_search.results.blank? %>
			<h4 class="coloured">Standards</h4>
			<hr/>
		<% end %>
		<% @standard_search.results.each do |s| %>
			
			<b><%= link_to s.standard_name, s %> </b><br/>
			Standard Unit: <%= s.standard_unit %>

			<span class="pull-right">
				<%= link_to "Show", s %> | <%= link_to "Edit", edit_standard_path(s) %>
			</span>

			<hr/>
			
		<% end %>

	<% end %>


	<% if @observation_search %>
		<% if not @observation_search.results.blank? %>
			<h4 class="coloured">Observations</h4>
			<hr/>
		<% end %>
		<% @observation_search.results.each do |s| %>

			<% s.measurements.each do |mea| %>
				
				<b><%= link_to "Observation #{mea.observation.id}", mea.observation %> </b> <br/>
				Value : <%= mea.value %> | Orig value: <%= mea.orig_value %>
				<span class="pull-right">
					<%= link_to "Show", s %> | <%= link_to "Edit", edit_observation_path(s) %>
				</span>

				<hr/>
			<% end %>
			
		<% end %>

	<% end %>



	<% if @location_search %>
		<% if not @location_search.results.blank? %>
			<h4 class="coloured">Locations</h4>
			<hr/>
		<% end %>
		<% @location_search.results.each do |s| %>
			<b><%= link_to s.location_name, s %> </b><br/>
			Longitude: <%= s.longitude %> | Latitude: <%= s.latitude %>
			<span class="pull-right">
				<%= link_to "Show", s %> | <%= link_to "Edit", edit_location_path(s) %>
			</span>
			<hr/>	
			
		<% end %>

	<% end %>

</div>
</div>