<li class="list-group-item">              

  <div class="row">

  	<div class="col-md-1" style="color:lightgrey;">
  		<%= issue.id %>
  	</div>

    <div class="col-md-2">
      <%= issue.user.name %>  <%= issue.user.last_name %><small> (<%= mail_to issue.user.email %>)</small>
    </div>

  	<div class="col-md-2">
  		<%= issue.issue_description %>
  	</div>

    <div class="col-md-1">
      <% if issue.resolved %>
        <span class="label label-success">resolved</span>
      <% end %>
    </div>

    <div class="col-md-2">
      <% if issue.resolved %>
        <%= User.find_by_id(issue.resolved_user).name %>  <%= User.find_by_id(issue.resolved_user).last_name %><small> (<%= mail_to User.find_by_id(issue.resolved_user).email %>)</small>
      <% end %>
    </div>

    <div class="col-md-2">
      <%= issue.resolved_description %>
    </div>

  	<div class="col-md-2">
      <% if current_user == issue.user || current_user.editor? %>
        <div class="btn-group">
          <%= link_to 'Edit', edit_observation_issue_path(@observation, issue), class: "btn btn-default btn-xs" %>
          <% if current_user.admin? %>
            <%= link_to 'X', observation_issue_path(@observation, issue), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</li>
