
<% if @observations.empty? %>
	<p class="alert alert-danger">No public records.</p>
<% else %>

	<% temp = [] %>
	
		
		<% mark = "" %>
	  <% Trait.all.sort_by{ |t| [t.trait_class, t.trait_name] }.each do |trait| %>    
	    
			<% if trait.trait_class != "Contextual" %>

				<% if @observations.joins(:measurements).where("measurements.trait_id IS ?", trait.id).size > 0 %>

					<% grp = @observations.joins(:measurements).where("measurements.trait_id IS ?", trait.id) %>
					
					<% if temp != grp.first.measurements.first.trait.trait_class %>
						<% temp = grp.first.measurements.first.trait.trait_class %>
						<div class="row top-buffer" style="border-top: 1px solid lightgrey;">
							<div class="col-sm-12"><b>
								<% if trait.trait_class.blank? %>
									Miscellaneous
								<% else %>
									<%= grp.first.measurements.first.trait.trait_class %>
								<% end %>
							</b></div>
						</div>
					<% end %>

					<div class="row top-buffer">

						<div class="col-sm-1"></div>
						<div class="col-sm-4" style="text-align:right;">
							<%= link_to grp.first.measurements.first.trait.trait_name, "/traits/" + grp.first.measurements.first.trait_id.to_s %>
						</div>

						<div class="col-sm-6">
							<% if grp.size > 1 %>
								<span class="badge"><%= grp.size %></span> observations
							<% else %>
								<%= grp.first.measurements.first.value %>
								<% if !grp.first.measurements.first.standard.blank? %>
									(<%= grp.first.measurements.first.standard.standard_unit %>)
								<% end %> 
							<% end %>
						</div>
		  			<div class="col-sm-1">
		          <div class="btn-group">
		            <%= link_to 'Show', coral_trait_path(:coral_id => grp.first.coral_id, :id => trait.id), class: "btn btn-sm btn-default" %>
		          </div>
		  			</div>
					</div>



				<% end %>
			<% end %>
		<% end %>
<% end %>
