<% provide(:title, @coral.coral_name) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

		<h3>
		  <em><%= @coral.coral_name %></em>
		</h3>
		

		<% if !@coral.coral_description.blank? %>
		  <p>
		    <strong>Description:</strong>
		    	<%= @coral.coral_description %>
		  </p>
		<% end %>

		<p>
		<% if signed_in? && current_user.contributor? %>
			<%= link_to 'Edit', edit_coral_path(@coral) %> |
		<% end %>
		<%= link_to 'Back', corals_path %></p>

		<% img = "#{@coral.coral_name.sub(" ", "_")}.png" %>

		<% if signed_in? && current_user.contributor? %>
			<% @vtemp = @vfiles.find_all{|item| item.include? img }.last %>

			<% if !@vtemp.nil? %>
				<p style="text-align:center;"><%= image_tag "veron/#{@coral.coral_name.sub(" ", "_")}.png", :style => "border:0px;", class:  "img-responsive" %></p>
				<p style="text-align:center;">Veron map (viewable for contributors, but not published yet, so please don't distribute)</p>
			<% else %>
					<p>No Veron map</p>
			<% end %>
		<% end %>
	
		<% @htemp = @hfiles.find_all{|item| item.include? img }.last %>
		<% if !@htemp.nil? %>
			<p style="text-align:center;"><%= image_tag "hughes/#{@coral.coral_name.sub(" ", "_")}.png", :style => "border:0px;", class:  "img-responsive" %></p>
			<p style="text-align:center;"><a href="http://www.esapubs.org/archive/ecol/E094/150/">Hughes map</a></p>
		<% else %>
				<p>No Hughes map</p>
		<% end %>

		<div class="well">
			<p>External resources for this species:</p>
			<ul>
				<li>
					<% fac = Measurement.where("observation_id IN (?) AND trait_id=?", @observations.map(&:id), 139).first  %>
					<% if !fac.blank? %>
						<%= link_to "AIMS factsheet and images", "http://coral.aims.gov.au/factsheet.jsp?speciesCode=" + fac.value.to_s.rjust(4, '0') %>
					<% else %>
						AIMS factsheet and images (not available)
					<% end %>
				</li>
				<li>
					<% pal = Measurement.where("observation_id IN (?) AND trait_id=?", @observations.map(&:id), 140).first %>
					<% if !pal.blank? %>
						<%= link_to "PaleoDB fossil records", "http://paleodb.org/bridge.pl?a=checkTaxonInfo&taxon_no=" + pal.value.to_s %>
					<% else %>
						PaleoDB fossil records (not available)
						<% end %>
				</li>
				<li><%= link_to "OBIS observation records", "http://iobis.org/mapper/?taxon=" + @coral.coral_name.to_s %></li>
			</ul>
		
			<p><small>Note: The OBIS link will search for the species, which might not return any records.  If OBIS records do exist, they can be downloaded by selecting <code>Show results</code>, then <code>Download</code>, and then choosing <code>Points</code>. This functionality is not immediately obvious.</small></p>
			
			<hr/>
			<%= link_to "Download", coral_path(format: "zip"), class: "btn btn-success btn-md" %> data for this species as a CSV file.

		</div>


		<%= render "coral_observations" %>
	</div>
</div>