<%= form_for(@trait) do |f| %>

	<%= render 'shared/error_messages', object: @trait %>

  <div class="form-group">
    <%= f.label :trait_name %><br>
    <%= f.text_field :trait_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :trait_description %><br>
    <%= f.text_area :trait_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :trait_class %><br>
	  <%= f.select :trait_class, ['', 'Taxonomic', 'Phylogenetic', 'Reproductive', 'Morphological', 'Physiological', 'Biomechanical', 'Ecological', 'Geographical', 'Conservation', 'Demographic', 'Contextual'], {include_blank: false}, class: "form-control" %>
  </div>

  <%= f.label :trait_values %><br>
  <div id = "traitvalues">
    <%= f.fields_for :traitvalues do |t| %>
      <%= render "traitvalue_fields", :f => t %>
    <% end %>
  </div>
  <div class="links">
    <p><%= link_to_add_association "add a value option", f, :traitvalues %></p>
  </div>

  <div class="form-group">
    <%= f.label :default_standard %><br>
		<%= f.select :standard_id, Standard.all.collect {|a| ["#{a.standard_name} (#{a.standard_unit})", a.id]}, {:include_blank => ""}, class: "form-control" %>
  </div>


  <% if current_user.editor? %>
  	<div class="form-group">
  		<%= f.label :editor %>
  		<%= f.select :user_id, User.where(:editor => true).collect {|a| [a.name, a.id]}, {}, class: "form-control" %>
    </div>
  	
    <div class="form-group">
      <%= f.label :release_status %><br>
      <%= f.select :release_status, ['ready_for_release', 'needs_work_before_release', 'ready_online_only', 'data_deficient'], {include_blank: true}, class: "form-control" %>
    </div>
  <% end %>

  
  <h4>Methodologies</h4>
    <div id="methodologies">
      <%= f.fields_for :methodologies do |t| %>
        <%= render "methodology_fields", :f => t %>
      <% end %>
    </div>
    <div class="links">
      <p><%= link_to_add_association "add a methodology", f, :methodologies %></p>
    </div>



	<%= f.submit "Submit", class: "btn btn-primary btn-lg" %>

<% end %>
