<% if @observations.empty? %>
  <%= render "shared/no_observations" %>
<% else %>
	<% mark = "" %>
	<div class="row">
	  <div class="col-md-12">
		  <% @observations.each do |grp| %>    
				<% if grp.specie.specie_name != mark %>
					</ul>
					<h4><em><%= link_to grp.specie.specie_name, "/species/" + grp.specie_id.to_s %></em></h4>
					<ul class="list-group">
				<% end %>

		  	<li class="list-group-item">							
					<div class="row">
		        <div class="col-sm-1" style="color: lightgrey;">
		        	<%= grp.id %>
		        </div>

						<div class="col-sm-3">
							<div class="col-sm-1">
			  				<% if !grp.location_id.blank? && grp.location_id != 0 %>
			  				  <% if grp.location_id == 1 %>
						      	<%= link_to "", "/locations/" + grp.location_id.to_s, class: "glyphicon glyphicon-globe" %>
			  				  <% else %> 
			  			      <%= link_to "", "/locations/" + grp.location_id.to_s, class: "glyphicon glyphicon-map-marker", 'data-no-turbolink' => true %>
			  				  <% end %> 
			  				<% end %> 
			  			</div>
							<div class="col-sm-1">
			  				<% if !grp.resource_id.blank? && grp.resource_id != 0 %>
			  					<%= link_to "", "/resources/" + grp.resource_id.to_s, class: "glyphicon glyphicon-book" %>
			  				<% end %> 
			  			</div>        
							<div class="col-sm-1">
			  				<% if !grp.user_id.blank? && grp.user_id != 0 %>
			  					<%= link_to "", "/users/" + grp.user_id.to_s, class: "glyphicon glyphicon-user" %>
			  				<% end %>
			  			</div>
							<div class="col-sm-1">
								<% if grp.private == true %>
									<span class="glyphicon glyphicon-remove-circle" style="color:red;"></span>
								<% else %>
									<span class="glyphicon glyphicon-ok-circle" style="color:green;"></span>
								<% end %>
			  			</div>
							<div class="col-sm-1">
				      	<% if grp.measurements.size > 1 %>
									<span class="glyphicon glyphicon-eye-open"></span>
								<% end %>
			  			</div>
		  			</div>
			      <% measurement = grp.measurements.where(:trait_id => @trait.id).first %>

						<div class="col-sm-3">
							<%= link_to measurement.trait.trait_name, "/traits/" + measurement.trait_id.to_s %>
			      </div>
			      
						<div class="col-sm-3">
							<% if measurement.trait.traitvalues.present? %>
								<span class="label label-primary"><%= measurement.value %></span>
							<% else %> 
			        	<%= measurement.value %>
								<% if !measurement.standard.blank? %>
									(<%= measurement.standard.standard_unit %>)
								<% end %> 
							<% end %> 
			      </div>
						<div class="col-sm-2">
		      		<div class="btn-group pull-right">				
			  				<% if signed_in? && current_user.contributor? %>
			  					<%= link_to 'Show', observation_path(grp), class: "btn btn-xs btn-default" %>
			  	    		<%= link_to 'Edit', edit_observation_path(grp), class: "btn btn-xs btn-default" %>
			  	    		<%= link_to 'X', observation_path(grp), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
			  				<% end %>
		  				</div>
		  			</div>
					</div>
				</li>
				<% mark = grp.specie.specie_name %>
	  	<% end %>
		</div>
	</div>
<% end %>
