<% provide(:title, 'Traits') %>

<div class="col-md-9">
  <%= render "shared/index_header" %>
</div>


<%= form_tag export_traits_path do %>

  <div class="col-md-3">
    <%= render "shared/download_options" %>
  </div>

  <div class="col-sm-12">

  	<%= will_paginate @traits, :inner_window => 1, :outer_window => 0 %>

		<% temp = [] %>
		<% @traits.sort_by{ |h| [h[:trait_class] || "z", h[:trait_name]] }.each do |trait| %>
			<% if temp != trait.trait_class %>
				<% temp = trait.trait_class %>
				<% if trait.trait_class.blank? %>
					<h4>Miscellaneous</h4>
					<ul class="list-group">
				<% else %>
					</ul>
					<h4>
						<% if trait.trait_class == "Contextual" %>
							<span class="glyphicon glyphicon-eye-open"></span>
						<% end %>
						<%= trait.trait_class %>
					</h4>
					<ul class="list-group">
				<% end %>
			<% end %>

      <% if not trait.hide or (signed_in? && current_user.editor?) %>
        <% if trait.hide %>
          <li id="countlist" class="list-group-item disabled">             
        <% else %>
          <li id="countlist" class="list-group-item">             
        <% end %>
		
  				<div class="row">
  					<div class="col-sm-1" style="color:lightgrey;"><%= trait.id %></div>
  					<div class="col-sm-5">  			    	
              <%= link_to trait.trait_name, trait, 'data-no-turbolink' => true %>
              <% if trait.hide %>
                <span class="label label-danger" data-toggle="tooltip" data-placement="right" title="Trait only visible to Editors">hidden</span>
              <% end %>
  					</div>
  				
  					<div class="col-sm-3">
  					</div>

            <div class="col-sm-3">
              <p class="pull-right">
                <%# if not params[:all] %>
                  <%= render "shared/access_counts", :itemid1 => trait.id %>
                <%# end %>
                <%= check_box_tag "checked[]", trait.id %>
                </p>
            </div>

  		  	</div>
  			</li>
      <% end %>
	  <% end %>

    <br>
    <%= will_paginate @traits, :inner_window => 1, :outer_window => 0 %>

  </div>
<% end %>


<% if @traits.blank? %>
  <div class="alert alert-danger" role="alert">No traits entered.</div>
<% end %>

<div class="col-sm-12">
	Download full traits list as a <%= link_to "csv", traits_path(format: "csv", search: params[:search], page: params[:page], all: params[:all]) %>.
</div>
