<% provide(:title, 'Traits') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

		<h3>Traits</h3>

		<div class="row">
		  <div class="col-md-9">
				<p>Data for each of the traits listed below can be downloaded by selecting them using the checkbox and clicking <code style="color:green;">Download</code>.  Only public trait observations (and your own private observations) will be downloaded.</p>
			</div>
		  <div class="col-md-3">
				<p><span class="glyphicon glyphicon-ok-circle" style="color:green;"></span> All data public<br/>
				<span class="glyphicon glyphicon-record" style="color:orange;"></span> Some data public<br/>
				<span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> No data public</p>
			</div>
		</div>
	
		<div class="well">
			<% if signed_in? && current_user.contributor? %>	
				<%= link_to 'New Trait', new_trait_path, class: "btn btn-primary btn-md pull-right" %>
			<% end %>
					
			<div class="row">
			  <div class="col-lg-6">
					<%= form_tag traits_path, :method => 'get' do %>
				    <div class="input-group">
				      <%= text_field_tag :search, params[:search], :placeholder => "Search traits...", class: "form-control" %>
				      <span class="input-group-btn">
						    <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
								<%= link_to 'Reset', traits_path, class: "btn btn-default" %>
				      </span>
				    </div>
					<% end %>
			  </div>
			</div>

			<br/>Download trait list as a <%= link_to "csv", traits_path(format: "csv") %>.

		</div>


		<%= form_tag export_traits_path do %>
		
			<div class="row">
			  <div class="col-md-12 col-md-offset-7">
					<p><input type="checkbox", name="ancillary" /> Download ancillary data as well?
					<br/><input type="checkbox", name="global" /> Download global estimates only?</p>
				</div>
			</div>
			

			<table class="table table-condensed">
			  <thead>
			    <tr>
			      <th></th>
			      <th style="color: lightgrey;">ID</th>
			      <th>Trait name</th>
			      <th style="text-align:center;"><%= submit_tag "Download", class: "btn btn-success btn-sm" %></th>
			      <th></th>
			      <th></th>
			    </tr>
			  </thead>

			  <tbody>
					<% temp = [] %>
					<% @traits.sort_by{ |h| [h[:trait_class] || "z", h[:trait_name]] }.each do |trait| %>
						<tr>
						<% if temp != trait.trait_class %>
								<% temp = trait.trait_class %>
								<td><b>
								<% if trait.trait_class.blank? %>
									Unclassified
								<% else %>
									<%= trait.trait_class %>
								<% end %>
								</b></td>
							<% else %>
					    	<td style="border:none;"></td>
							<% end %>
					    <td style="color: lightgrey;"><%= trait.id %></td>
					    <td><%= link_to trait.trait_name, trait %></td>
						
						 	<td style="text-align:center;">
								<% access = Observation.select(:private).joins(:measurements).where(:measurements => {:trait_id => trait.id}) %>
								<% if access.where(:private == false).size == 0 %>
									<span class="glyphicon glyphicon-remove-circle" style="color:red;">
								<% else %>
									<% if access.where(:private => false).size == access.size %>
										<span class="glyphicon glyphicon-ok-circle" style="color:green;">
									<% else %>
										<span class="glyphicon glyphicon-record" style="color:orange;">
									<% end %>
								<% end %>
								<%= check_box_tag "checked[]", trait.id %>
							</td>						
						
			        <td><%= Measurement.where(:trait_id => trait.id).size %></td>
							
						
			        <td style="text-align:right; min-width: 170px;">
							<% if signed_in? && current_user.contributor? %>
				        <%= link_to 'Edit', edit_trait_path(trait) %>
							<% end %>
							<% if signed_in? && current_user.admin? %> |
				        <%= link_to 'Delete', trait, method: :delete, data: { confirm: 'Are you sure?' } %>
							<% end %>
							</td>
					  </tr>


			    <% end %>
			  </tbody>
			</table>

		<% end %>

	</div>
</div>
