<% provide(:title, 'Traits Overview') %>

<div class="col-md-12">
	<h1>
		Traits
    <span class="label label-danger pull-right">overview</span>
	</h1>
	<hr>

	<p>Download species/trait measurements matrix <%= link_to 'CSV', '/export_specie_trait', :action => 'export_specie_trait' %></p>
	<p>Download location/trait measurements matrix <%= link_to 'CSV', '/export_location_trait', :action => 'export_location_trait' %></p>
	<p>Download ready trait summaries <%= link_to 'CSV', '/export_ready_trait', :action => 'export_ready_trait' %></p>
	<p>Download ready trait resources <%= link_to 'CSV', '/export_ready_resources', :action => 'export_ready_resources' %></p>
	<p>Download ready zip <%= link_to 'ZIP', '/export_ready', :action => 'export_ready' %></p>

		<small>

	<p>
		<%= form_tag overview_traits_path, :method => 'get' do %>
		  <strong>Subset traits by release status: </strong><%= select_tag :release_status, options_for_select(Trait.all.map(&:release_status).uniq, params[:release_status]), include_blank: true, onchange: "$(this).parent('form').submit();" %>
		<% end %>
	</p>

	<ul class="list-group">
	  <li class="list-group-item">							
			<div class="row">
				<div class="col-md-2">
			  </div>
				<div class="col-md-2">
				  <strong>Description</strong>
			  </div>
				<div class="col-md-1">
				  <strong>Editor</strong>
			  </div>
				<div class="col-md-1">
				  <strong>Standard</strong>
			  </div>
				<div class="col-md-2">
				  <strong>Value range</strong>
			  </div>
				<div class="col-md-1">
				  <strong>Measurements</strong>
			  </div>
				<div class="col-md-1">
				  <strong>Resources</strong>
			  </div>
				<div class="col-md-1">
			  </div>
			</div>
		</li>
		
		<% counter = 1 %>
		<% @traits.sort_by{ |h| h[:release_status] }.each do |trait| %>
		  <li class="list-group-item">							
				<div class="row">
					<div class="col-md-2">
				  	<%= counter %>.
			  		<% counter = counter + 1 %>
				  	<%= link_to trait.trait_name, trait_path(trait), 'data-no-turbolink' => true %><br>
					  (<%= trait.trait_class %>)
				  </div>
					<div class="col-md-2">
					  <%= trait.trait_description %>
				  </div>
					<div class="col-md-1">
					  <%= trait.user.name %>
				  </div>
					<div class="col-md-1">
					  <%= trait.standard.standard_name %> (<%= trait.standard.standard_unit %>)
				  </div>
					<div class="col-md-2">
					  <% trait.traitvalues.each do |v| %>
					  	<span class="label label-primary"><%= v.value_name %></span>
						<% end %>
						<% if trait.standard.id != 2 && trait.standard.id != 10 && trait.standard.id != 40 %>
					  	<span class="label label-success">not applicable</span>
						<% end %>

				  </div>
					<div class="col-md-1">
					  <%= Measurement.where("trait_id = ?", trait.id).joins(:observation).where("private IS false").size %>
				  </div>
					<div class="col-md-2">
					  <%= Observation.where("private IS false AND observations.id IN (?)", Measurement.where(:trait_id => trait.id).map(&:observation_id)).map(&:resource_id).uniq.join(", ") %>
				  </div>
					<div class="col-md-1">
					  <%= link_to 'Meta', meta_trait_path(trait.id), class: "btn btn-default btn-xs" %>
					  <%= link_to 'Edit', edit_trait_path(trait), class: "btn btn-default btn-xs" %>
				  </div>
			  </div>
		  </li>
		<% end %>
		</small>

	</ul>		

</div>