<% provide(:title, @trait.trait_name) %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h3>
			<%= @trait.trait_name %>
			<% if @coral %>
				(<em><%= link_to @coral.coral_name, coral_path(@coral) %></em>)
			<% end %>
		</h3>

		<div class="row">
		  <div class="col-md-9">
				<p>
					<strong>Default standard:</strong>
					<% if !@trait.standard.blank? %>
						<%= @trait.standard.standard_name %> (<%= @trait.standard.standard_unit %>)
					<% end %>
				</p>

				<% if @trait.traitvalues.present? %>
					<p>
						<strong>Possible trait values:</strong>
						<% @trait.traitvalues.each do |tv| %>
							<span class="label label-primary"><%= tv.value_name %></span>
							<%# if tv.value_description.present? %>
								<!-- (<%#= tv.value_description %>) -->
							<%# end %>
						<% end %>
					</p>
				<% end %>
				
				<p>
				  <strong>Class:</strong>
					<% if @trait.trait_class.present? %>
				  	<%= @trait.trait_class %>
					<% else %>
						<font style="color:lightgrey;">Unclassified</font>
					<% end %>
				</p>

				<p>
					<strong>Description:</strong>
					<% if @trait.trait_description.present? %>
						<%= @trait.trait_description %>
					<% else %>
						<font style="color:lightgrey;">Not entered</font>
					<% end %>
				</p>

				<p>
					<strong>Methodologies:</strong>
					<% if not @trait.methodologies.empty? %>
						<ul>
							<% @trait.methodologies.each do |methodology| %>
								<li>
									<%= link_to methodology.methodology_name, methodology %>
							</li>
							<% end %>
						</ul>
					<% else %>
						<font style="color:lightgrey;">None entered</font>
					<% end %>

				</p>

				<p>
					<strong>Editor:</strong>
					<% if !@trait.user.blank? %>
						<%= @trait.user.name %> (<%= mail_to @trait.user.email, "contact", {:subject => "Coral Trait enquiry"} %>)
					<% end %>
				</p>

				<%# img = "#{@trait.trait_name.downcase.tr(" ", "_")}.png" %>
				<%# @temp = @files.find_all{|item| item.include? img }.last %>

		<!-- 		<%# if !@temp.nil? %>
					<p style="text-align:left;"><%#= image_tag "traits/#{@trait.trait_name.downcase.tr(" ", "_")}.png", :style => "border:0px;", class:  "img-responsive" %></p>
				<%# end %>
		 -->
				<p>
		      <div class="btn-group">
						<% if signed_in? && current_user.contributor? %>
							<%= link_to 'Edit', edit_trait_path(@trait), class: "btn btn-sm btn-default" %>
						<% end %>
						<%= link_to 'Back', traits_path, class: "btn btn-sm btn-default" %>
						<%= link_to 'Back to species list', coral_path(@coral), class: "btn btn-sm btn-default" if @coral %>
		      </div>
				</p>
			</div>

		  <div class="col-md-3">
				<p><span class="glyphicon glyphicon-globe"></span> Global estimate<br/>
				<span class="glyphicon glyphicon-map-marker"></span> Location data<br/>
				<span class="glyphicon glyphicon-book"></span> Resource available<br/>
				<span class="glyphicon glyphicon-user"></span> Contributor details<br/>
				<span class="glyphicon glyphicon-eye-open"></span> Context included<br/>
				<span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> Not public<br/>
				<span class="glyphicon glyphicon-ok-circle" style="color:green;"></span> Public</p>
			</div>
		</div>

		
		<h3>Observations</h3>
		<div class="well">
			<div class="row">
			<div class="col-md-6">
				<% if @coral %>
					<%= form_tag coral_trait_path, :method => 'get' do %>
						Displaying first <%= select_tag :n, options_for_select([10, 100, 1000, "all"], params[:n]), onchange: "$(this).parent('form').submit();" %> observations
					<% end %>
				<% else %>
					<%= form_tag trait_path, :method => 'get' do %>
						Displaying first <%= select_tag :n, options_for_select([10, 100, 1000, "all"], params[:n]), onchange: "$(this).parent('form').submit();" %> observations
					<% end %>
				<% end %>
			</div>
			<div class="col-md-6">
				<% if @coral %>
					<%= link_to "Download all species' trait observations", coral_trait_path(format: "csv", n: params[:n]), class: "btn btn-success btn-sm pull-right" %>
				<% else %>
					<%= link_to "Download all trait observations", trait_path(format: "csv", n: params[:n]), class: "btn btn-success btn-sm pull-right" %>
				<% end %>
			</div>
			</div>
		</div>  

<!-- 		<%# if @observations.size < Observation.joins(:measurements).where(:measurements => {:trait_id => @trait.id}).size %>
			<div class="alert alert-danger">Not all observations for this trait are currently displayed.</div>
		<%# else %>
			<div class="alert alert-success">All observations for this trait are now displayed.</div>
		<%# end %>
 -->		
		<%= render "trait_observations" %>
	</div>
</div>