<%= form_for(@specie) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>


	<div class="form-group">
		<%= f.label :species_name %><br>
		<%= f.text_field :specie_name, :placeholder => "Required...", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :synonyms %>
	  <%= f.fields_for :synonyms do |syn| %>
	  	<% render :partial => "synonym_fields", :locals => { :f => syn } %>
	  <% end %>
  <p><%= link_to_add_association "Add synonym", f, :synonyms %></p>
	</div>

	<div class="form-group">
		<%= f.label :major_clade %><br>
		<%= f.text_field :major_clade, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :family_molecules %><br>
		<%= f.text_field :family_molecules, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :family_morphology %><br>
		<%= f.text_field :family_morphology, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :notes %><br>
		<%= f.text_area :specie_description, class: "form-control" %>
	</div>

  <div class="form-group">
    <% if current_user.admin? %>
      <%= f.label :enterer %>
      <% if f.object.id.present? %>
        <%= f.select :user_id, User.where(:contributor => true).collect {|a| ["#{a.name} #{a.last_name}", a.id]}, {}, class: "form-control" %>
      <% else %>
        <%= f.select :user_id, User.where(:contributor => true).collect {|a| [a.name, a.id]}, {:selected => current_user.id}, class: "form-control" %>
      <% end %>
    <% else %>
      <%#= current_user.name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>
	
	<%= f.submit "Submit", class: "btn btn-primary btn-lg" %>

<% end %>
