<% if @observations.empty? %>
   <%= render "shared/no_observations" %>
<% else %>

	<% temp = [] %>
		
	<div class="row">
	  <div class="col-md-12">
			<% mark = "" %>
		  <% Trait.all.sort_by{ |t| [t.trait_class, t.trait_name] }.each do |trait| %>    
		    
				<% if trait.trait_class != "Contextual" %>
	      	<% if not trait.hide or (signed_in? && current_user.editor?) %>

						<% if @observations.joins(:measurements).where("measurements.trait_id = ?", trait.id).size > 0 %>
							
							<% if temp != trait.trait_class %>
								<% temp = trait.trait_class %>
									<% if trait.trait_class.blank? %>
										<h4>Miscellaneous</h4>
										<ul class="list-group">
									<% else %>
			    					</ul>
										<h4><%= trait.trait_class %></h4>
										<ul class="list-group">
									<% end %>
							<% end %>

					  	<li class="list-group-item">							
								<div class="row">
					        <div class="col-sm-1" style="color: lightgrey;">
					        	<%= trait.id %>
					        </div>
									<div class="col-sm-4">

										<%= link_to trait.trait_name, trait, 'data-no-turbolink' => true %>
			              <% if trait.hide %>
			                <span class="label label-danger" data-toggle="tooltip" data-placement="right" title="Trait only visible to Editors">hidden</span>
			              <% end %>
									</div>

									<% grp = @observations.joins(:measurements).where("measurements.trait_id = ?", trait.id) %>

									<div class="col-sm-6">
										<% if grp.size > 1 %>
											<%= render "shared/access_counts", :acc => grp %> observations
										<% else %>

						          <% if grp.first.measurements.first.trait.traitvalues.present? %>
						            <% traitvalue = grp.first.measurements.first.trait.traitvalues.where(:value_name => grp.first.measurements.first.value) %>
						            <% if traitvalue.first.value_description.present?  %>
						              <span class="label label-primary" data-toggle="tooltip" data-placement="top" title="<%= traitvalue.first.value_description %>"><%= grp.first.measurements.first.value %></span>
						            <% else %>
						              <span class="label label-primary" data-toggle="tooltip" data-placement="top" title="No description"><%= grp.first.measurements.first.value %></span>
						            <% end %>
						          <% else %> 
						            <%= grp.first.measurements.first.value %>
						          <% end %> 

										<% end %>
									</div>
					  			<div class="col-sm-1">
					          <div class="btn-group pull-right">
					            <%= link_to 'Show', specie_trait_path(:specie_id => grp.first.specie_id, :id => trait.id), class: "btn btn-xs btn-default", 'data-no-turbolink' => true %>
					          </div>
					  			</div>
					  		</div>
							</li>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
