<% provide(:title, 'Species') %>

<div class="col-md-9">
  <%= render "shared/index_header" %>
</div>

<%= form_tag export_species_path do %>

  <div class="col-md-3">
		<%= render "shared/download_options" %>
	</div>

  <div class="col-sm-12">

  	<%= will_paginate @species, :inner_window => 1, :outer_window => 0 %>

		<ul class="list-group">
	    <% @species.sort_by{ |h| h[:specie_name] }.each do |specie| %>
			  <li class="list-group-item">							
					<div class="row">
		        <div class="col-sm-1" style="color: lightgrey;">
		        	<%= specie.id %>
		        </div>
		        <div class="col-sm-5">
		        	<em><%= link_to specie.specie_name, specie %></em>
		        </div>

		        <div class="col-sm-3">
						</div>

            <% if not params[:all] %>
  					 	<div id="countlist" class="col-sm-3">
  					 		<p class="pull-right">
  		        		<%= render "shared/access_counts", :itemid1 => specie.id %>
  								<%= check_box_tag "checked[]", specie.id %>
  							</p>
  						</div>
            <% else %>
              <div class="col-sm-3">
                <p class="pull-right">
                  <%= check_box_tag "checked[]", specie.id %>
                </p>
              </div>
            <% end %>

					</div>
				</li>
	    <% end %>		
    </ul>

    <%= will_paginate @species, :inner_window => 1, :outer_window => 0 %>

  </div>
<% end %>


<% if @species.blank? %>
  <div class="alert alert-danger" role="alert">No species entered.</div>
<% end %>

<div class="col-sm-12">
	Download full species list as a <%= link_to "csv", species_path(format: "csv", search: params[:search], page: params[:page], all: params[:all]) %>.
</div>


