<% provide(:title, 'Species') %>

<div class="page-header">
  <h1>Species</h1>
</div>

<%= render "shared/instructions" %>

<div class="well">
	<div class="row">
	  <div class="col-md-6">
			<%= form_tag species_path, :method => 'get' do %>
		    <div class="input-group">
		      <%= text_field_tag :search, params[:search], :placeholder => "Search species...", class: "form-control" %>
		      <span class="input-group-btn">
				    <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
						<%= link_to "See All", species_path(search: params[:search], all: true), class: "btn btn-warning" %>
						<%= link_to 'Reset', species_path, class: "btn btn-default" %>
		      </span>
		    </div>
			<% end %>
			<br>Download species list as a <%= link_to "csv", species_path(format: "csv", search: params[:search], page: params[:page], all: params[:all]) %>.
	  </div>
	  <div class="col-md-6">
			<% if signed_in? && current_user.admin? %>	
				<%= link_to 'New Species', new_specie_path, class: "btn btn-primary btn-md pull-right" %>
			<% else %>
			<%# if signed_in? && current_user.contributor? %>	
	  		<strong>Note to Contributors and Editors:</strong> The list of species is tightly controlled due to the complex and changing nature of coral taxonomy (see <%= link_to "Procedures", procedures_path %>). If you believe a species is missing from the list, please try searching for the species and try different spellings because we keep track of alternative names. If the species can't be found, please make a request by email to have it added (see <%= link_to "Editors", editors_path %>).
			<% end %>
	  </div>
	</div>
</div>

<%= will_paginate @species %>

<%= form_tag export_species_path do %>

	<%= render "shared/download_options" %>			

	<div class="row">
	  <div class="col-md-12">
			<ul class="list-group">
		    <% @species.sort_by{ |h| h[:specie_name] }.each do |specie| %>
				  <li class="list-group-item">							
						<div class="row">
			        <div class="col-md-1" style="color: lightgrey;">
			        	<%= specie.id %>
			        </div>
			        <div class="col-md-5">
			        	<em><%= link_to specie.specie_name, specie %></em>
			        </div>

						 	<div class="col-md-1">
								<%= check_box_tag "checked[]", specie.id %>
							</div>

							<div class="col-md-2">
								<% if not params[:all] %>
									<%= render "shared/access_counts", :acc => Observation.where(:specie_id => specie) %>
								<% end %>
							</div>

			        <div class="col-md-3">
						    <div class="btn-group pull-right">
						     	<%= link_to 'Show', specie_path(specie), class: "btn btn-xs btn-default" %>
								  <% if signed_in? && current_user.admin? %>
					        	<%= link_to 'Edit', edit_specie_path(specie), class: "btn btn-xs btn-default" %>
					        	<%= link_to 'Delete', specie, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
									<% end %>
				        </div>
							</div>
						</div>
					</li>
		    <% end %>		
	    </ul>
		</div>
	</div>
<% end %>

<%= will_paginate @species %>

<% if @species.blank? %>
  <div class="alert alert-danger" role="alert">No species entered.</div>
<% end %>




