<%= form_tag update_multiple_observations_path do %>
		
	<%= hidden_field_tag :page, params[:page] %>
	<%= hidden_field_tag :search, params[:search] %>
	<%= hidden_field_tag "con_id", @user.id %>

		<% if (@user.id == current_user.id || current_user.admin?) && !@observations.blank? %>
			<br/>
			<%= submit_tag "Update Access", class: "btn btn-danger btn-md", style: "margin-right: 5px;" %>
			<input type="checkbox", name="checkall", onclick="checkUncheckAll(this);" /> Check/uncheck access for all
		<% end %>
	</div>


		<% temp = "" %>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th style="text-align: right;">Coral</th>
					<th>Location</th>
					<th>Resource</th>
					<th colspan=2>Access</th>
					<th>Trait</th>
					<th>Value</th>
					<th></th>
				</tr>
			</thead>

			<% mark = "" %>
			<% mark1 = "" %>
			<% mark2 = "" %>

			<tbody>
				
		  <% @observations.each do |grp| %>    

				<%= hidden_field_tag "all_ids[]", grp.id %>

		    <% Measurement.includes(:trait, :standard).where("observation_id=?", grp.id).each do |mea| %>      	

					<tr>
						<% if grp.coral.coral_name != mark %>
							<td style="text-align: right;">
								<em><%= link_to grp.coral.coral_name, "/corals/" + grp.coral.id.to_s %></em>
							</td>				
						<% else %>
							<td style="border:none;">
							</td>				
						<% end %>
					
						<% if grp.id != mark1 %>
		  				<td style="text-align:center;">
		  					<% if !grp.location.blank? && grp.location.id != 0 %>
	  			      <%= link_to "", "/locations/" + grp.location.id.to_s, class: "glyphicon glyphicon-globe", 'data-no-turbolink' => true %>
		  					<% end %>
		  				</td>
		  				<td style="text-align:center;">
		  					<% if !grp.resource.blank? && grp.resource.id != 0 %>
		  					<%= link_to "", "/resources/" + grp.resource.id.to_s, class: "glyphicon glyphicon-book" %>
		  					<% end %>
		  				</td>
							<% if grp.private == true %>
								<td style="color:red;text-align:center;"><span class="glyphicon glyphicon-remove-circle"></span></td>
							<% else %>
								<td style="color:green;text-align:center;"><span class="glyphicon glyphicon-ok-circle"></span></td>
							<% end %>
							<td>
								<% if @user.id == current_user.id || current_user.admin? %>
									<%= check_box_tag "pri_ids[]", grp.id, grp.private %>
								<% end %>
							</td>
						<% else %>
							<td colspan=4 style="border:none;">
							</td>				
						<% end %>						

						<td style="text-align: right;">
							<em><%= link_to mea.trait.trait_name, "/traits/" + mea.trait.id.to_s %></em>
						</td>				

						<td>
							<%= mea.value.force_encoding('ISO-8859-1').encode('UTF-8') %> 
							<% if !mea.standard.blank? && mea.standard.id != 0 %>
								<% sta = mea.standard.standard_unit %> (<%= sta %>)
							<% end %> 
						</td>	

						<% if grp.id != mark1 %>	
							<td style="min-width: 130px;">
								<%= link_to 'Show', observation_path(grp, :user => @user) %> |
					    	<%= link_to 'Edit', edit_observation_path(grp, :user => @user) %> |
					    	<%= link_to 'Delete', observation_path(grp, :user => @user), method: :delete, data: { confirm: 'Are you sure?' } %>
							</td>
						<% else %>
							<td style="border:none;">
							</td>				
						<% end %>						
				
					</tr>
        
					<% mark = grp.coral.coral_name %>
					<% mark1 = grp.id %>
					<% mark2 = mea.trait.trait_name %>
				<%# end %>


					<% end %>
				<% end %>
			<% end %>
		<%# end %>

	<tbody>
</table>
<%#= paginate @observations %>


