<% provide(:title, 'Users') %>

<div class="page-header">
	<h1>
	  Administration
	</h1>
</div>

<%= form_tag update_multiple_users_path do %>

	<div class="row">
		<div class="col-sm-5">
		</div>
		<div class="col-sm-3" style="text-align:center;">
			<%= submit_tag "Update Privileges", class: "btn btn-danger btn-md", style: "margin-right: 5px;" %>
		</div>
	</div><br>
	<div class="row">
		<div class="col-sm-5">
		</div>
		<div class="col-sm-1" style="text-align:center;">
			<strong>Contributor</strong>
		</div>
		<div class="col-sm-1" style="text-align:center;">
			<strong>Editor</strong>
		</div>
		<div class="col-sm-1" style="text-align:center;">
			<strong>Admin</strong>
		</div>
	</div>

	<ul class="list-group">

		<% @users.sort_by{ |a| [a.admin ? 0 : 1, a.editor ? 0 : 1, a.contributor ? 0 : 1, a.name] }.each do |user| %>

			<%= hidden_field_tag "ids[]", user.id %>
		  
		  <li class="list-group-item">							
				<div class="row">
					<div class="col-sm-1" style="color: lightgrey;">
						<%= user.id %>
					</div>

					<div class="col-sm-4">
						<%= link_to user.name, user %>
					  (<%= mail_to user.email, user.email, {:subject => "Coral Trait enquiry"} %>)
					</div>
					
					<div class="col-sm-1" style="text-align:center;">
					  <% if current_user.editor? %>
							<%= check_box_tag "contrib_true_ids[]", user.id, user.contributor %>
						<% end %>
					</div>

					<div class="col-sm-1" style="text-align:center;">
					  <% if current_user.editor? %>
							<%= check_box_tag "editor_true_ids[]", user.id, user.editor %>
							<% if user.editor? %>
								<%= user.traits.size %>
							<% end %>
						<% end %>
					</div>

					<div class="col-sm-1" style="text-align:center;">
					  <% if current_user.admin? %>
							<%= check_box_tag "admin_true_ids[]", user.id, user.admin %>
						<% end %>

					</div>

					<div class="col-sm-2">
						<%= render "shared/access_counts", :acc => Observation.where(:user_id => user.id) %>
					</div>

	        <div class="col-sm-2">
				    <div class="btn-group pull-right">
				     	<%= link_to 'Show', user_path(user), class: "btn btn-xs btn-default" %>
					  	<% if current_user.admin? && !current_user?(user) %>
					    	<%= link_to "Edit", edit_user_path(user), class: "btn btn-xs btn-default" %>
					    	<%= link_to "X", user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-xs btn-danger" %>
							<% end %>
		        </div>
					</div>
				</div>
			</li>
		<% end %>
	</ul>

<% end %>
