<% model = request.original_url.split("/").last.split("?").first %>
<h1><%= model.capitalize %></h1>
<hr>
<div class="btn-group pull-left">
  <% if params[:all] %>
  	<%= link_to "Paginate", "#{model}", class: "btn btn-default" %>
  <% else %>
  	<%= link_to "Show All", "#{model}?all=true", class: "btn btn-default" %>
  <% end %>
</div>
<% if model == "traits" %>  
  <div class="col-xs-3">
    <%= form_tag traits_path, :method => 'get' do %>
      <div class="form-group">
        <%= select_tag :trait_class, options_for_select(Trait.all.map(&:trait_class).uniq.reject! { |c| c.blank? }, params[:trait_class]), :onchange => "this.form.submit();", :prompt => "Subset by class...", class: "form-control" %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="btn-group pull-right">
  <% if model == "locations" or model == "resources" or model == "standards" or model == "methodologies" %>  
    <% if signed_in? and current_user.contributor? %>  
      <%= link_to "New #{model.singularize.capitalize}", "#{model}/new", class: "btn btn-primary" %>
    <% end %>
  <% elsif model == "traits" %>
    <% if signed_in? and current_user.editor? %>  
      <%= link_to "New #{model.singularize.capitalize}", "#{model}/new", class: "btn btn-primary" %>
    <% end %>
  <% elsif model == "species" %>
    <% if signed_in? and current_user.admin? %>  
      <%= link_to "New #{model.capitalize}", "#{model}/new", class: "btn btn-primary" %>
    <% end %>
  <% elsif model == "snapshots" %>
    <% if signed_in? and current_user.admin? %>  
      <%= link_to "New #{model.singularize.capitalize}", "#{model}/new", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<br><br>