<div class="row">
  <div class="col-md-12">
		<% mark = "" %>
	  <% @observations.each do |grp| %>    

			<% if @user %>
				<%= hidden_field_tag "all_ids[]", grp.id %>
			<% end %>

			<% if grp.coral.coral_name != mark %>
				</ul>
				<h4><em><%= link_to grp.coral.coral_name, "/corals/" + grp.coral_id.to_s %></em></h4>
				<ul class="list-group">
			<% end %>

	  	<li class="list-group-item">							
				<div class="row">

					<div class="col-sm-1">
						<label class="checkbox-inline">
							<% if @user %>
								<%= check_box_tag "pri_ids[]", grp.id, grp.private %>
							<% end %>
							<% if grp.private == true %>
								<span class="glyphicon glyphicon-remove-circle" style="color:red;"></span>
							<% else %>
								<span class="glyphicon glyphicon-ok-circle" style="color:green;"></span>
							<% end %>
						</label>
		  		</div>

	        <div class="col-sm-1" style="color: lightgrey;">
	        	<%= grp.id %>
	        </div>

					<div class="col-sm-3">
						<div class="col-sm-2">
		  				<% if !grp.location_id.blank? && grp.location_id != 0 %>
		  				  <% if grp.location_id == 1 %>
					      	<%= link_to "", location_path(grp.location_id), class: "glyphicon glyphicon-globe", 'data-no-turbolink' => true %>
		  				  <% else %> 
		  			      <%= link_to "", location_path(grp.location_id), class: "glyphicon glyphicon-map-marker", 'data-no-turbolink' => true %>
		  				  <% end %> 
		  				<% end %> 
		  			</div>
						<div class="col-sm-2">
		  				<% if !grp.resource_id.blank? && grp.resource_id != 0 %>
		  					<%= link_to "", resource_path(grp.resource_id), class: "glyphicon glyphicon-book" %>
		  				<% end %> 
		  			</div>        
						<div class="col-sm-2">
		  				<% if !grp.user_id.blank? && grp.user_id != 0 %>
		  					<%= link_to "", user_path(grp.user_id), class: "glyphicon glyphicon-user" %>
		  				<% end %>
		  			</div>
						<div class="col-sm-2">
			      	<% if grp.measurements.size > 1 %>
		  					<%= link_to "", observation_path(grp), class: "glyphicon glyphicon-eye-open" %>
							<% end %>
		  			</div>
						<div class="col-sm-2">
			      	<% if grp.approval_status == "pending" %>
		  					<%= link_to "", observation_path(grp), class: "glyphicon glyphicon-asterisk" %>
							<% end %>
		  			</div>
						<div class="col-sm-2">
			      	<% if grp.issues.present? %>
		  					<%= link_to "", observation_path(grp), class: "glyphicon glyphicon-warning-sign", style: "color:red;"  %>
							<% end %>
		  			</div>


	  			</div>
		      <% measurement = grp.measurements.first %>

					<div class="col-sm-3">
						<%= link_to measurement.trait.trait_name, trait_path(measurement.trait_id), 'data-no-turbolink' => true %>
		      </div>
					<div class="col-sm-2">
						<% if measurement.standard.standard_class == "Nominal class" %>
							<span class="label label-primary"><%= measurement.value %></span>
						<% else %> 
		        	<%= measurement.value %>
							<% if !measurement.standard.blank? %>
								(<%= measurement.standard.standard_unit %>)
							<% end %> 
						<% end %> 
		      </div>
					<div class="col-sm-2">
	      		<div class="btn-group pull-right">				
	  					<%= link_to 'Show', observation_path(grp), class: "btn btn-xs btn-default" %>
		  				<% if signed_in? && current_user.contributor? %>
		  	    		<%= link_to 'Edit', edit_observation_path(grp), class: "btn btn-xs btn-default" %>
		  	    		<%= link_to 'X', observation_path(grp), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
		  				<% end %>
	  				</div>
	  			</div>
				</div>
			</li>
			<% mark = grp.coral.coral_name %>
  	<% end %>
	</div>
</div>

