<h3 class="coloured">Observations</h3>

<%= render 'shared/observations' %>

<% temp = "" %>
<%= form_tag approve_path do %>
	<table class="table table-condensed">
	  <thead>
	    <tr>
	      <th style="text-align: right;">Coral</th>
				<th>Location</th>
				<th>Contributor</th>
				<th>Trait</th>
				<th>Value</th>
				<th>Access</th>
				

	      <th style="text-align:center;">
	      	<%= submit_tag "Approve", class: "btn btn-success btn-sm" %>
	      	<%= submit_tag "Reject", class: "btn btn-danger btn-sm", name: "reject['true']" %>

	      </th>
				<th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <% mark = "" %>
		<% mark1 = "" %>
		<% mark2 = "" %>

		
	  
	  	
	    <tbody>
			<% @observations.each do |grp| %>    
			  <% grp.measurements.each do |mea| %>    
					<tr>
						<% if grp.specie.specie_name != mark %>
							<td style="text-align: right;">
								<em><%= link_to grp.specie.specie_name, "/species/" + grp.specie_id.to_s %></em>
							</td>				
						<% else %>
							<td style="border:none;">
							</td>				
						<% end %>
		
						<% if grp.id != mark1 %>
							<td style="text-align:center;">
			  				<% if !grp.location_id.blank? && grp.location_id != 0 %>
			  				  <% if grp.location_id == 1 %>
						      	<%= link_to "Global", "/locations/" + grp.location_id.to_s, 'data-no-turbolink' => true %>
			  				  <% else %> 
			  			      <%= link_to "", "/locations/" + grp.location_id.to_s, class: "glyphicon glyphicon-globe", 'data-no-turbolink' => true %>
			  				  <% end %> 
			  				<% end %> 
			  			</td>

								<td style="text-align:center;">
									<% if !grp.user_id.blank? && grp.user_id != 0 %>
									<%= link_to "", "/users/" + grp.user_id.to_s, class: "glyphicon glyphicon-user" %>
									<% end %>
								</td>
						<% else %>
							<td colspan=2 style="border:none;">
							</td>				
						<% end %>						
		
						
						<td style="text-align: right;">
							<em><%= link_to mea.trait.trait_name, "/traits/" + mea.trait_id.to_s %></em>
						</td>				
						
						<td>
							<%= mea.value %> 
							<% if !mea.standard_id.blank? && mea.standard_id != 0 %>
								<% sta = Standard.find(mea.standard_id).standard_unit %>
									(<%= sta %>)
							<% end %> 
						</td>	

						<% if grp.id != mark1 %>	
							<% if grp.private == true %>
								<td style="color:red;text-align:center;"><span class="glyphicon glyphicon-remove-circle"></span></td>
							<% else %>
								<td style="color:green;text-align:center;"><span class="glyphicon glyphicon-ok-circle"></span></td>
							<% end %>

							<td style="text-align:center;">
								<%= check_box_tag "checked[]", grp.id %>
								<%= hidden_field_tag "item_type[]", "observation" %>
							</td>						

			        <td style="text-align:right; min-width: 150px;">
			        	<%= link_to "Show", observation_path(grp) %> |
								<% if signed_in? && current_user.admin? %>
				        	<%= link_to 'Approve', approve_path(:item_id => grp.id, :model => "observation" ), method: :post %> | <%= link_to 'Reject', approve_path(:item_id => grp.id, :model => "observation", :reject => true ), method: :post %> 
								<% end %>
							</td>


							
						<% else %>
							<td style="border:none;">
							</td>				
						<% end %>
					
						

					</tr>

					<% mark = grp.specie.specie_name %>
					<% mark1 = grp.id %>
					<% mark2 = mea.trait.trait_name %>
				<% end %>
			<% end %>
		
			
	  </tbody>
	</table>

<% end %>




	
	