<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>Import observations</h1>
    </div>
    <%#= render partial: "sidebar" %>

    <%= render 'shared/error_messages', object: @import_item %>



    <%= form_for @import_item, :url => upload_path do |f| %>
      <%= f.hidden_field :import_model, :value => @import_model %>

      <div class="form-group">

        <%= f.file_field :import_file, class: "form-control" %>
      </div>

      <div class="form-group">

        <%#= f.radio_button :import_type, false, "overwrite" %>

        <%#= f.radio_button :import_type, true, "new" %>
        <%= f.radio_button :import_type, "new", :checked => true %>
        <%= f.label :import_type, "Import new observations", :value => "new"  %><br>
        <%= f.radio_button :import_type, "overwrite" %>
        <%= f.label :import_type, "Overwrite existing observations", :value => "overwrite" %>
      </div>

      <%= f.submit "Import", :class => 'btn btn-primary'%>
    <% end %>

    <%= markdown File.open(Rails.root + "public/bulk_import.md", 'r').read %>

  </div>
</div>