<%#= render partial: "sidebar" %>

<% if @item_import.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@item_import.errors.count, "error") %> prohibited this import from completing:</h3>
    <ul>
      <% @item_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @item_import, :url => upload_path, html:{class: "form-horizontal"}  do |f| %>
      <%= f.hidden_field :model_name, :value => @model_name %>
      <div class="field">
        <label><big>Step 1: Select Import Type</big></label> 
        <br/>
        <%= radio_button_tag(:import_type, "overwrite") %>
        <%= label_tag(:import_type_overwrite, "Overwrite") %>
        <br/>

        <%= radio_button_tag(:import_type, "new", :selected => true) %>
        <%= label_tag(:import_type_new, "New Import") %>
      </div>
      <br/>
      <label><big>Step 2 : Choose File</big></label> 
      <p><%= f.file_field :file %></p>
      <%= f.submit "Import", :class => 'btn btn-primary btn-lg'%>
    <% end %>
    <%= markdown File.open(Rails.root + "public/bulk_import.md", 'r').read %>
  </div>
</div>

