<%#= @measurements.first(1) %>
	
	<table class="table table-condensed">
		<thead>
			<tr>
				<th style="text-align: right;">Coral</th>
				<th>Resource</th>
				<th>Contributor</th>
				<th>Trait</th>
				<th>Value</th>
				<th style="text-align:center;">Access</th>
				<th></th>
			</tr>
		</thead>

		<% mark = "" %>
		<% mark1 = "" %>
		<% mark2 = "" %>

	  <% @observations.each do |grp| %>		
	    <% Measurement.includes(:observation, :trait, :standard).where("observation_id=?", grp.id).each do |mea| %>    

			<tr>
				<% if grp.specie.specie_name != mark %>
					<td style="text-align: right;">
						<em><%= link_to grp.specie.specie_name, "/species/" + grp.specie.id.to_s %></em>
					</td>				
				<% else %>
					<td style="border:none;">
					</td>				
				<% end %>
					
				<% if grp.id != mark1 %>

					<td style="text-align:center;">
						<% if !grp.resource.blank? && grp.resource != 0 %>
	  					<%= link_to "", "/resources/" + grp.resource.id.to_s, class: "glyphicon glyphicon-book" %>
						<% end %>
					</td>

	  			<td style="text-align:center;">
	  				<% if !grp.user.blank? && grp.user != 0 %>
	  					<%= link_to "", "/users/" + grp.user.id.to_s, class: "glyphicon glyphicon-user" %>
	  				<% end %>
	  			</td>
				<% else %>
					<td colspan=2 style="border:none;">
					</td>				
				<% end %>						

				<td style="text-align: right;">
					<em><%= link_to mea.trait.trait_name, "/traits/" + mea.trait.id.to_s %></em>
				</td>				

				<td>
					<%= mea.value %> 
					<% if !mea.standard.blank? && mea.standard != 0 %>
						<% sta = mea.standard.standard_unit %>
							(<%= sta %>)
					<% end %> 
				</td>	

				<% if grp.id != mark1 %>

					<% if grp.private == true %>
						<td style="color:red;text-align:center;"><span class="glyphicon glyphicon-remove-circle"></span></td>
					<% else %>
						<td style="color:green;text-align:center;"><span class="glyphicon glyphicon-ok-circle"></span></td>
					<% end %>

					<td style="text-align:right; min-width: 150px;">
		  			<% if signed_in? && current_user.contributor? %>
							<%= link_to 'Show', observation_path(grp, :user => @user) %> |
			    		<%= link_to 'Edit', edit_observation_path(grp, :user => @user) %> |
			    		<%= link_to 'Delete', observation_path(grp, :user => @user), method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
					</td>

				<% else %>
					<td style="border:none;">
					</td>				
				<% end %>

					
				
				</tr>
        
					<%#= hidden_field_tag "obs_ids[]", grp.id %>


				<% mark = grp.specie.specie_name %>
				<% mark1 = grp.id %>
				<% mark2 = mea.trait.trait_name %>
			<%# end %>

			
		<% end %>


	<% end %>
	</table>
	

