<% provide(:title, @methodology.methodology_name) %>

<div class="col-md-12">
  <h1>Methodology: <%= @methodology.methodology_name %>
    <%# if @methodology.approval_status == "pending" %>
      <!-- <small><span class="label label-danger pull-right">pending approval</span></small> -->
    <%# end %>
  </h1>
  <hr>

  <p>
    <strong>ID:</strong>
    	<%= @methodology.id %>
  </p>

  <%= render "shared/description", :description => @methodology.method_description %>

  <p>
    <strong>Used for traits:</strong>
    <% if not @traits.empty? %>
      <ul>
        <% @traits.each do |trait| %>
          <li>
            <%= link_to trait.trait_name, trait, 'data-no-turbolink' => true %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <font style="color:lightgrey;">None entered</font>
    <% end %>

  </p>


  <p>
    <strong>Added by:</strong>
    <% if @methodology.user %>
      <%= @methodology.user.name %> <%= @methodology.user.last_name %>
    <% end %>
  </p>

  <p>
    <div class="btn-group">
      <%= link_to 'Back', methodologies_path, class: "btn btn-default" %>
      <% if signed_in? && current_user.contributor? %>
        <%= link_to 'Edit', edit_methodology_path(@methodology), class: "btn btn-default" %>
      <% end %>
    </div>
  </p>

  <h3>Observations using this methodology</h3>

  <% if @observations.empty? %>
    <%= render "shared/no_observations" %>
  <% else %>

  	<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
  	<%= render "shared/observations" %>
  	<br>
  	<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>

  <% end %>
</div>