<% provide(:title, @methodology.methodology_name) %>


<div class="page-header">
  <h1>Methodology: <%= @methodology.methodology_name %> (<%= @methodology.id %>)</h1>
</div>

<div class="row">
  <div class="col-md-9">
		<% if !@methodology.method_description.blank? %>
		  <p>
		    <strong>Description:</strong>
	    	<%= @methodology.method_description %>
		  </p>
		<% end %>


		<% if not @methodology.traits.empty? %>
			<p>
	 			<strong>Used for traits:</strong>
 				<% @methodology.traits.each do |trait| %>
	 				<%= link_to trait.trait_name, trait, class: "label label-primary" %>
	    		<% end %>
			</p>
	    <% end %>

		<p>
			<div class="btn-group">
				<% if signed_in? && current_user.contributor? %>
					<%= link_to 'Edit', edit_methodology_path(@methodology), class: "btn btn-sm btn-default" %>
				<% end %>
				<%= link_to 'Back', methodologies_path, class: "btn btn-sm btn-default" %>
			</div>
		</p>
		
	</div>
  <div class="col-md-3">
	  <%= render "shared/symbol_key" %>
	</div>
</div>

<h3>Observations using this methodology</h3>

<% if @observations.empty? %>
	<p class="alert alert-danger">No records available.</p>
<% else %>

	<%= will_paginate @observations %>
	<%= render "shared/observations" %>

<% end %>
