<%= form_for(@resource) do |f| %>

	<%= render 'shared/error_messages', object: @resource %>

  <p>Enter a doi OR the full details below the line if a doi is not available. If you enter a doi, the details below the line will be overwritten with the resource details extracted from Crossref.</p>

  <div class="form-group">
    <%= f.label :doi %>
    <p><small>Only the identifier part (e.g., 10.1007/s00338-014-1248-9). Do not append text like "DOI:"</small></p>
    <%= f.text_field :doi_isbn, :placeholder => "Preferred...", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :resource_type %>
    <p><small>Required if there is no doi available (e.g., if a book or website)</small></p>
    <%= f.select :resource_type, ['', 'paper', 'paper_without_doi', 'monograph', 'book', 'book_chapter', 'webpage', 'CD_rom', 'conference_proceedings', 'thesis', 'technical_report', 'petition', 'pers_obs', 'pers_comm', 'opinion'], {:selected => @resource.resource_type}, class: "form-control" %>
  </div>  

  <div class="form-group">
    <%= f.label :resource_notes %>
    <%= f.text_area :resource_notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <% if current_user.admin? %>
      <%= f.label :enterer %>
      <% if f.object.id.present? %>
        <%= f.select :user_id, User.where(:contributor => true).collect {|a| ["#{a.name} #{a.last_name}", a.id]}, {}, class: "form-control" %>
      <% else %>
        <%= f.select :user_id, User.where(:contributor => true).collect {|a| [a.name, a.id]}, {:selected => current_user.id}, class: "form-control" %>
      <% end %>
    <% else %>
      <%#= current_user.name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>

  <% if current_user.editor? %>
    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :approval_status, ["", "pending", "approved"], {}, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>

  <hr>
  <h3>Details (if no doi)</h3>

  <p><label class="label label-danger">Warning</label> If you entered a valid doi above, the fields below will automatically be overwritten.</p>

	<div class="form-group">
		<%= f.label "Author/s" %>
		<p><small>For example, "Jones AS, Smith TR" without using "and" or "&"</small></p>
		<%= f.text_field :author, :placeholder => "Required...", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :year %>
		<%= f.text_field :year, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :title %>
		<p><small>Without a period at the end</small></p>
		<%= f.text_field :title, :placeholder => "Required...", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label "Journal or Publisher" %>
		<p><small>Full name or abbreviation without periods.</small></p>
		<%= f.text_field :journal, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label "Volume and pages or website url" %>
		<p><small>For example, "23, 135-156"</small></p>
		<%= f.text_field :volume_pages, class: "form-control" %>
	</div>


	<%= f.submit "Submit", class: "btn btn-primary btn-lg" %>

<% end %>
