<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Editing resource</h1>

    <% if @sug and not @sug == "Invalid" %>
      <ul class="list-group">
        <li class="list-group-item">              
          <p>
            <strong>Suggested doi from CrossRef based on title:</strong>
            <ul>
            <% @sug["message"]["items"].each do |a| %>
              <li><%= a["DOI"] %> <small>(<%= link_to a["title"][0], "http://dx.doi.org/" + a["DOI"], :target => "_blank" %>)</small></li>
            <% end %>
            </ul>
          </p>
        </li>
      </ul>
    <% end %>

		<%= render 'form' %>

		<%= link_to 'Show', @resource %> |
		<%= link_to 'Back', resources_path %>

	</div>
</div>



