<% provide(:title, 'Resources') %>

<div class="col-md-9">
  <%= render "shared/index_header" %>
</div>

<%= form_tag export_resources_path do %>

  <div class="col-md-3">
    <%= render "shared/download_options" %>
  </div>

  <div class="col-sm-12">
    
    <%= will_paginate @resources, :inner_window => 1, :outer_window => 0 %>

		<ul class="list-group">
    	<% @resources.each do |resource| %>
			  <li id="countlist" class="list-group-item">							
					<div class="row">
		        <div class="col-sm-1" style="color: lightgrey;">
		        	<%= resource.id %>
							<% if resource.approval_status == 'pending' %>
								<span class="glyphicon glyphicon-warning-sign"  style="color:red;" title="Pending Approval"></span>
							<% end %>
		        </div>

		        <div class="col-sm-8">
		        	<%= link_to resource.author, resource %>
		        	<% if resource.year %>
			        	(<%= resource.year %>)
	    				<% end %>		
		        	<%= resource.title %>.
              <% if resource.journal %>
                <em><%= resource.journal %></em>
              <% end %>   
              <% if resource.volume_pages %>
                <%= resource.volume_pages %>
              <% end %>   
		        </div>

					 	<div class="col-sm-3">
					 		<p class="pull-right">
								<% if not params[:all] %>
                  					<%= render "shared/access_counts", :model => "resource", :recordid => resource.id %>
								<% end %>
								<%= check_box_tag "checked[]", resource.id %>
							</p>
						</div>

					</div>
				</li>
	    <% end %>		
    </ul>
    
    <%= will_paginate @resources, :inner_window => 1, :outer_window => 0 %>
	</div>
<% end %>


<% if @resources.blank? %>
  <div class="alert alert-danger" role="alert">No resources entered.</div>
<% end %>

<div class="col-sm-12">
  <p>Download full resources list as a <%= link_to "csv", resources_path(format: "csv", search: params[:search], page: params[:page], all: params[:all]) %>.</p>
</div>
