<% provide(:title, 'Resources') %>

<div class="col-md-9">
  <%= render "shared/index_header" %>
</div>

<%= form_tag export_resources_path do %>

  <div class="col-md-3">
    <%= render "shared/download_options" %>
  </div>

  <div class="col-sm-12">
    
    <%= will_paginate @resources, :inner_window => 1, :outer_window => 0 %><br><br>

		<ul class="list-group">
    	<% @resources.each do |resource| %>
			  <li class="list-group-item">							
					<div class="row">
		        <div class="col-sm-1" style="color: lightgrey;">
		        	<%= resource.id %>
							<% if resource.approval_status == 'pending' %>
								<span class="glyphicon glyphicon-warning-sign"  style="color:red;" title="Pending Approval"></span>
							<% end %>
		        </div>

		        <div class="col-sm-5">
		        	<%= link_to resource.author, resource %>
		        	<% if resource.year %>
			        	(<%= resource.year %>)
	    				<% end %>		
		        	<small><%= resource.title %></small>
		        </div>

		        <div class="col-sm-3">
					    <div class="btn-group">
					     	<%= link_to 'Show', resource_path(resource), class: "btn btn-xs btn-default" %>
							  <% if signed_in? && current_user.editor? %>
				        	<%= link_to 'Edit', edit_resource_path(resource), class: "btn btn-xs btn-default" %>
								<% end %>
							  <% if signed_in? && current_user.admin? %>
				        	<%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
								<% end %>
			        </div>
						</div>

					 	<div class="col-sm-3">
					 		<p class="pull-right">
								<% if not params[:all] %>
			        		<%= render "shared/access_counts", :acc => Observation.where(:resource_id => resource) %>
								<% end %>
								<%= check_box_tag "checked[]", resource.id %>
								</p>
						</div>

					</div>
				</li>
	    <% end %>		
    </ul>
    
    <%= will_paginate @resources, :inner_window => 1, :outer_window => 0 %>
	</div>
<% end %>


<% if @resources.blank? %>
  <div class="alert alert-danger" role="alert">No resources entered.</div>
<% end %>

<div class="col-sm-12">
  <p>Download resources list as a <%= link_to "csv", resources_path(format: "csv", search: params[:search], page: params[:page], all: params[:all]) %>.</p>
</div>
