<% provide(:title, "Resource") %>

<div class="col-md-12">
  <h3>

			<p>
			  <%= @resource.author %>
				<% if @resource.year %>
			  	(<%= @resource.year %>)
				<% end %>
			  <%= @resource.title %>.
				<% if @resource.journal %>
			  	<em><%= @resource.journal %></em>
				<% end %>
				<% if @resource.volume_pages %>
			  	<%= @resource.volume_pages %>
				<% end %>
			</p>

		<% if @resource.approval_status == "pending" %>
			<p>
				<span class="label label-danger pull-right">pending approval</span> 
			</p>
		<% end %>

  </h3>
  <hr>
</div>

<div class="col-md-6">
  <p>
    <strong>ID:</strong>
    	<%= @resource.id %>
  </p>

	<p>
	  <strong>DOI:</strong>
		<% if @resource.doi_isbn.present? %>
	  	<%= link_to @resource.doi_isbn, "http://dx.doi.org/" + @resource.doi_isbn, :target => "_blank" %>
		<% elsif @resource.resource_type == "paper" or @resource.resource_type.blank? %>
			<span class="label label-danger">not added</span>
		<% else %>
			<span class="label label-success"><%= @resource.resource_type %></span>
		<% end %>
	</p>

  <%= render "shared/description", :description => @resource.resource_notes %>

	<p>
    <div class="btn-group">
      <%= link_to 'Back', resources_path, class: "btn btn-xs btn-default" %>
      <% if signed_in? && current_user.contributor? %>
        <%= link_to 'Edit', edit_resource_path(@resource), class: "btn btn-xs btn-default" %>
      <% end %>
		  <% if signed_in? && current_user.admin? %>
      	<%= link_to 'Delete', @resource, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
			<% end %>
    </div>
	</p>

  <% if signed_in? && current_user.contributor? %>
		<div id="dupdetect">
		<p>
			<span class="dup" data-resourceid=<%= @resource.id %>></span>
		</p>
		</div>
	<% end %>
</div>


<% if not @locations.map(&:id).include? 1 %>
  <div class="col-md-6" data-no-turbolink>
    <div id="map-canvas" class="map-container" data-no-turbolink></div> 
  </div>
<% end %>

<div class="col-md-12">

	<h3>Observations from this resource</h3>

	<ul class="nav nav-tabs">
		<% if params[:secondary] %>
			<% @observations = @secondary %>
		  <li role="presentation"><%= link_to 'Primary', resource_path(@resource) %></li>		
		  <li role="presentation" class="active"><%= link_to 'Secondary', resource_path(@resource, secondary: true) %></li>
	  <% else %>
			<% @observations = @primary %>
		  <li role="presentation" class="active"><%= link_to 'Primary', resource_path(@resource) %></li>		
		  <li role="presentation"><%= link_to 'Secondary', resource_path(@resource, secondary: true) %></li>
		<% end %>
	</ul>

	<br>

	<% if @observations.empty? %>
		<%= render "shared/no_observations" %>
	<% else %>
		<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
		<%= render "shared/observations" %>
		<br>
		<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
	<% end %>  

</div>

<script type="text/javascript">
  var locations = <%= raw @locations.map {|i| [i.location_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s] } %>;


  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 1,
    center: new google.maps.LatLng(0, 155),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    streetViewControl: false
  });

  var opt = { maxZoom: 13 };
  map.setOptions(opt);

  var infowindow = new google.maps.InfoWindow();

  var marker, i;
  var bounds = new google.maps.LatLngBounds();

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    bounds.extend(marker.getPosition());

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent('<a data-no-turbolink="true" href="/locations/'+locations[i][3]+'">'+locations[i][0]+'</a>');
        infowindow.open(map, marker);
      }
    })(marker, i));

  }
  map.fitBounds(bounds);

</script>

