<% provide(:title, "Resource") %>

<div class="col-md-12">
  <h3>

			<p>
			  <%= @resource.author %>
				<% if @resource.year %>
			  	(<%= @resource.year %>)
				<% end %>
			  <%= @resource.title %>.
				<% if @resource.journal %>
			  	<em><%= @resource.journal %></em>
				<% end %>
				<% if @resource.volume_pages %>
			  	<%= @resource.volume_pages %>
				<% end %>
			</p>

		<% if @resource.approval_status == "pending" %>
			<small><span class="label label-danger pull-right">pending approval</span></small>
		<% end %>
  </h3>
  <hr>

  <p>
    <strong>ID:</strong>
    	<%= @resource.id %>
  </p>

	<p>
	  <strong>DOI:</strong>
		<% if @resource.doi_isbn.present? %>
	  	<%= link_to @resource.doi_isbn, "http://dx.doi.org/" + @resource.doi_isbn, :target => "_blank" %>
<!-- 			<%# if @doi == "Invalid" %>
				<span class="label label-danger">invalid</span>
			<%# else %>
				<span class="label label-success">valid</span>
			<%# end %> -->
		<% elsif @resource.resource_type == "paper" or @resource.resource_type.blank? %>
			<span class="label label-danger">not added</span>
		<% else %>
			<span class="label label-success"><%= @resource.resource_type %></span>
		<% end %>
	</p>

<!-- 	<%# if @sug and not @sug == "Invalid" or @doi == "Invalid" %>
	  <ul class="list-group">
	    <li class="list-group-item">              
			  <p>
				  <strong>Suggested DOI based on title:</strong>
				  <ul>
			    <%# @sug["message"]["items"].each do |a| %>
			      <li><%#= a["DOI"] %> <small>(<%#= link_to a["title"][0], "http://dx.doi.org/" + a["DOI"], :target => "_blank" %>)</small></li>
			    <%# end %>
			    </ul>
			  </p>
			</li>
		</ul>
	<%# end %>
 -->
	<% if @resource.resource_notes.present? %>
		<p>
	  	<strong>Notes:</strong>
	  	<%= @resource.resource_notes %>
		</p>
	<% end %>

<!-- 	<p>
		<%# if @resource.resource_type.present? %>
	  	<%#= @resource.resource_type %>
		<%# end %>
	</p>
 -->

<!-- 	<%# if @resource.user %>
		<p>
		  <strong>Added by:</strong>
		  <%#= @resource.user.name %> <%#= @resource.user.last_name %>
		</p>
	<%# end %>
 -->
	<p>
    <div class="btn-group">
      <%= link_to 'Back', resources_path, class: "btn btn-default" %>
      <% if signed_in? && current_user.contributor? %>
        <%= link_to 'Edit', edit_resource_path(@resource), class: "btn btn-default" %>
      <% end %>
    </div>
	</p>

	<h3>Observations from this resource</h3>

	<ul class="nav nav-tabs">
		<% if params[:secondary] %>
			<% @observations = @secondary %>
		  <li role="presentation"><%= link_to 'Primary', resource_path(@resource) %></li>		
		  <li role="presentation" class="active"><%= link_to 'Secondary', resource_path(@resource, secondary: true) %></li>
	  <% else %>
			<% @observations = @primary %>
		  <li role="presentation" class="active"><%= link_to 'Primary', resource_path(@resource) %></li>		
		  <li role="presentation"><%= link_to 'Secondary', resource_path(@resource, secondary: true) %></li>
		<% end %>
	</ul>

	<br>

	<% if @observations.empty? %>
		<%= render "shared/no_observations" %>
	<% else %>
		<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
		<%= render "shared/observations" %>
		<br>
		<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
	<% end %>  

</div>
