<%= form_for(@standard) do |f| %>

<%= render 'shared/error_messages', object: @standard %>

	<p><small>Starred (*) fields are required.</small></p>


	<div class="form-group">
		<%= f.label "standard_name *" %>
		<%= f.text_field :standard_name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :standard_unit %>
		<%= f.text_field :standard_unit, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label "standard_class *" %>
	  <%= f.select :standard_class, ['', 'Name', 'Nominal class', 'Ordered class', 'Index', 'Datetime', 'Base unit', 'Simple derived unit', 'Complex derived unit'], {}, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :standard_description %>
		<%= f.text_area :standard_description, class: "form-control" %>
	</div>

	<div class="form-group">
		<% if current_user.admin? %>
				<%= f.label :user %>
				<%= f.select :user_id, User.all.collect {|a| [a.name, a.id]}, {:selected => current_user.id}, class: "form-control" %>
		<% else %>
			<%= f.label :user %>: <%= current_user.name %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		<% end %>
	</div>

	<%= f.submit "Submit", class: "btn btn-primary btn-md" %>

<% end %>
