<%= form_for(@standard) do |f| %>

<%= render 'shared/error_messages', object: @standard %>

	<div class="form-group">
		<%= f.label "standard_name" %>
		<%= f.text_field :standard_name, :placeholder => "Required...", class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :standard_unit %>
		<p><small>Use "^" for exponents and spaces between units. For example: mg cm^-2</small></p>
		<%= f.text_field :standard_unit, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label "standard_class (required)" %>
	  <%= f.select :standard_class, ['', 'Name', 'Nominal class', 'Ordered class', 'Index', 'Datetime', 'Base unit', 'Simple derived unit', 'Complex derived unit'], {}, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :standard_description %>
		<%= f.text_area :standard_description, class: "form-control" %>
	</div>

  <div class="form-group">
    <% if current_user.admin? %>
      <%= f.label :enterer %>
      <% if f.object.id.present? %>
        <%= f.select :user_id, User.where(:contributor => true).collect {|a| ["#{a.name} #{a.last_name}", a.id]}, {}, class: "form-control" %>
      <% else %>
        <%= f.select :user_id, User.where(:contributor => true).collect {|a| [a.name, a.id]}, {:selected => current_user.id}, class: "form-control" %>
      <% end %>
    <% else %>
      <%#= current_user.name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>

	<%= f.submit "Submit", class: "btn btn-primary btn-lg" %>

<% end %>


