<% provide(:title, 'Standards') %>

<div class="page-header">
  <h1>Standards</h1>
</div>

<div class="well">
	<div class="row">
	  <div class="col-md-6">
			<%= form_tag standards_path, :method => 'get' do %>
		    <div class="input-group">
		      <%= text_field_tag :search, params[:search], :placeholder => "Search standards...", class: "form-control" %>
		      <span class="input-group-btn">
				    <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
						<%= link_to "See All", standards_path(search: params[:search], all: true), class: "btn btn-warning" %>
						<%= link_to 'Reset', standards_path, class: "btn btn-default" %>
		      </span>
		    </div><br>
			<% end %>
			<p>Download standard list as a <%= link_to "csv", standards_path(format: "csv") %>.</p>
	  </div>
	  <div class="col-md-6">
	  	<% if signed_in? && current_user.contributor? %>	
				<%= link_to 'New Standard', new_standard_path, class: "btn btn-primary btn-md pull-right" %>
			<% end %>
	  </div>
	</div>
</div>

<%= will_paginate @standards %>

<%= form_tag export_standards_path do %>

	<%= render "shared/download_options" %>			

	<div class="row">
	  <div class="col-md-12">
			<% temp = [] %>
			<% @standards.sort_by{ |h| [h[:standard_class]] }.each do |standard| %>
				<% if temp != standard.standard_class %>
					<% temp = standard.standard_class %>
					<% if standard.standard_class.blank? %>
						<h4>Uncategorised</h4>
						<ul class="list-group">
					<% else %>
						</ul>
						<h4>
							<%= standard.standard_class %>
						</h4>
						<ul class="list-group">
					<% end %>
				<% end %>

	  		<li class="list-group-item">							
					<div class="row">
						<div class="col-sm-1" style="color:lightgrey;"><%= standard.id %></div>
						<div class="col-sm-5">
				    	<%= link_to standard.standard_name, standard, 'data-no-turbolink' => true %>
						</div>
					
						<div class="col-sm-1">
							<%= check_box_tag "checked[]", standard.id %>
						</div>
					
						<div class="col-sm-2">
							<% if not params[:all] %>
								<%= render "shared/access_counts", :acc => Observation.where(:id => Measurement.where(:standard_id => standard).map(&:observation_id)) %>
							<% end %>
						</div>

  					<div class="col-sm-3">
				     	<div class="btn-group pull-right">
				     		<%= link_to 'Show', standard_path(standard), 'data-no-turbolink' => true, class: "btn btn-xs btn-default" %>					
								<% if signed_in? && current_user.editor? %>
					        <%= link_to 'Edit', edit_standard_path(standard), class: "btn btn-xs btn-default" %>
								<% end %>
								<% if signed_in? && current_user.admin? %>
					        <%= link_to 'Delete', standard, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
								<% end %>
		        	</div>
						</div>
			  	</div>
				</li>
		  <% end %>
	  </div>
	</div>
<% end %>

<%= will_paginate @standards %>

<% if @standards.blank? %>
  <div class="alert alert-danger" role="alert">No standards entered.</div>
<% end %>

