<% provide(:title, 'Standards') %>

<div class="page-header">
  <h1>Standards</h1>
</div>

<div class="well">
	<div class="row">
	  <div class="col-md-6">
			<%= form_tag standards_path, :method => 'get' do %>
		    <div class="input-group">
		      <%= text_field_tag :search, params[:search], :placeholder => "Search standards...", class: "form-control" %>
		      <span class="input-group-btn">
				    <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
						<%= link_to 'Reset', standards_path, class: "btn btn-default" %>
		      </span>
		    </div>
			<% end %>
			<p>Download standard list as a <%= link_to "csv", standards_path(format: "csv") %>.</p>
	  </div>
	  <div class="col-md-6">
	  	<% if signed_in? && current_user.contributor? %>	
				<%= link_to 'New Standard', new_standard_path, class: "btn btn-primary btn-md pull-right" %>
			<% end %>
	  </div>
	</div>
</div>

<% temp = [] %>
<% @standards.sort_by{ |h| [h[:standard_class], h[:standard_name]] }.each do |standard| %>
	<% if temp != standard.standard_class %>
		<% temp = standard.standard_class %>
		<% if standard.standard_class.blank? %>
			<h4>Uncategorised</h4>
			<ul class="list-group">
		<% else %>
			</ul>
			<h4><%= standard.standard_class %></h4>
			<ul class="list-group">
		<% end %>
	<% end %>

	<li class="list-group-item">							
		<div class="row">
			<div class="col-sm-1" style="color:lightgrey;"><%= standard.id %></div>

			<div class="col-sm-3">
	    	<%= link_to standard.standard_name, standard %>
			</div>

			<div class="col-sm-3">
	    	<%= standard.standard_unit %>
			</div>

			<div class="col-sm-2">
				<%#= render "shared/access_counts", :acc => Observation.where(:id => Measurement.where(:standard_id => standard).map(&:observation_id)) %>
				<% if standard.approval_status == 'pending' %>
					&nbsp;	<span class="glyphicon glyphicon-floppy-remove"  style="color:red;text-align:center;" title="Pending Approval"></span>
				<% end %>
			</div>

			<div class="col-sm-3">
	     	<div class="btn-group pull-right">
	     		<%= link_to 'Show', standard_path(standard), class: "btn btn-xs btn-default" %>					
					<% if signed_in? && current_user.editor? %>
		        <%= link_to 'Edit', edit_standard_path(standard), class: "btn btn-xs btn-default" %>
					<% end %>
					<% if signed_in? && current_user.admin? %>
		        <%= link_to 'Delete', standard, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
					<% end %>
      	</div>
			</div>
  	</div>
	</li>
<% end %>






