<% provide(:title, 'Standards') %>

<div class="col-md-9">
  <%= render "shared/index_header" %>
</div>

<%= form_tag export_standards_path do %>

  <div class="col-md-3">
    <%= render "shared/download_options" %>
  </div>

  <div class="col-sm-12">

  	<%= will_paginate @standards, :inner_window => 1, :outer_window => 0 %>

		<% temp = [] %>
		<% @standards.sort_by{ |h| [h[:standard_class]] }.each do |standard| %>
			<% if temp != standard.standard_class %>
				<% temp = standard.standard_class %>
				<% if standard.standard_class.blank? %>
					<h4>Uncategorised</h4>
					<ul class="list-group">
				<% else %>
					</ul>
					<h4>
						<%= standard.standard_class %>
					</h4>
					<ul class="list-group">
				<% end %>
			<% end %>

  		<li class="list-group-item">							
				<div class="row">
					<div class="col-sm-1" style="color:lightgrey;"><%= standard.id %></div>
					<div class="col-sm-5">
			    	<%= link_to standard.standard_name, standard, 'data-no-turbolink' => true %>
						(<%= standard.standard_unit %>)
					</div>

					<div class="col-sm-3">
					</div>
				
				 	<div class="col-sm-3">
				 		<p class="pull-right">
							<% if not params[:all] %>
		        		<%= render "shared/access_counts", :acc => Observation.where(:id => Measurement.where(:standard_id => standard).map(&:observation_id)) %>
							<% end %>
							<%= check_box_tag "checked[]", standard.id %>
							</p>
					</div>

		  	</div>
			</li>
	  <% end %>
    
    <br>
    <%= will_paginate @standards, :inner_window => 1, :outer_window => 0 %>
  </div>

<% end %>


<% if @standards.blank? %>
  <div class="alert alert-danger" role="alert">No standards entered.</div>
<% end %>

<div class="col-sm-12">
  <p>Download standards list as a <%= link_to "csv", standards_path(format: "csv", search: params[:search], page: params[:page], all: params[:all]) %>.</p>
</div>
