<% provide(:title, 'Standards') %>

<div class="col-md-12">
  <h1>Standard: <%= @standard.standard_name %></h1>
  <hr>

  <p>
    <strong>ID:</strong>
      <%= @standard.id %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= @standard.standard_unit %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= @standard.standard_class %>
  </p>

  <%= render "shared/description", :description => @standard.standard_description %>

  <% if @standard.user %>
    <p>
      <strong>Added by:</strong>
      <%= @standard.user.name %> <%= @standard.user.last_name %>
    </p>
  <% end %>

  <div class="btn-group">
    <% if signed_in? && current_user.editor? %>
      <%= link_to 'Edit', edit_standard_path(@standard), class: "btn btn-sm btn-default" %>
    <% end %>
    <%= link_to 'Back', standards_path, class: "btn btn-sm btn-default" %>
  </div>

  <h3>Observations</h3>

  <% if @observations.empty? %>
    <%= render "shared/no_observations" %>
  <% else %>
      <%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
      <%= render "shared/observations" %>
      <br>
      <%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
  <% end %>
</div>