<% provide(:title, 'Standards') %>

<div class="page-header">
  <h1>Standard: <%= @standard.standard_name %></h1>
</div>

<p>
  <strong>Standard ID:</strong>
    <%= @standard.id %>
</p>

<p>
  <strong>Standard unit:</strong>
  <%= @standard.standard_unit %>
</p>

<p>
  <strong>Standard class:</strong>
  <%= @standard.standard_class %>
</p>

<p>
  <strong>Standard description:</strong>
  <%= @standard.standard_description %>
</p>

<div class="btn-group">
  <% if signed_in? && current_user.editor? %>
    <%= link_to 'Edit', edit_standard_path(@standard), class: "btn btn-sm btn-default" %>
  <% end %>
  <%= link_to 'Back', standards_path, class: "btn btn-sm btn-default" %>
</div>

<h3>Observations</h3>

<% if @observations.empty? %>
  <p class="alert alert-danger"><span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> No observations available</p>
<% else %>
  <%= will_paginate @observations %>
  <%= render "shared/observations" %>
  <br>
  <%= will_paginate @observations %>
<% end %>
