<% provide(:title, 'Standards') %>

<h3>Showing measurement standard</h3>

<p>
  <strong>Standard name:</strong>
  <%= @standard.standard_name %>
</p>

<p>
  <strong>Standard unit:</strong>
  <%= @standard.standard_unit %>
</p>

<p>
  <strong>Standard class:</strong>
  <%= @standard.standard_class %>
</p>

<p>
  <strong>Standard description:</strong>
  <%= @standard.standard_description %>
</p>

<p>
  <strong>User:</strong>
  <% if !@standard.user.blank? %>
	  <%= @standard.user.name %>
  <% end %>
</p>

<p><%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %></p>
