<% provide(:title, 'Locations') %>

<div class="page-header">
  <h1>Locations</h1>
</div>

<div class="row">
  <div class="col-md-4">
		<%= render "shared/instructions" %>
	</div>
  <div class="col-md-8">
		<div id="map-canvas" class="map-container"></div> 
	</div>
</div>

<br/>

<div class="well">
	<div class="row">
	  <div class="col-md-6">
			<%= form_tag locations_path, :method => 'get' do %>
		    <div class="input-group">
		      <%= text_field_tag :search, params[:search], :placeholder => "Search locations...", class: "form-control" %>
		      <span class="input-group-btn">
				    <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
						<%= link_to "1 Page", locations_path(search: params[:search], pp: "all"), class: "btn btn-default" %>
						<%= link_to 'Reset', locations_path, class: "btn btn-default" %>
		      </span>
		    </div>
				<!-- <p>Sort by: <%#= select_tag :sort, options_for_select(["id", "name", "latitude", "longitude"], params[:sort]), onchange: "$(this).parent('form').submit();" %></p> -->
			<% end %>
			<p>Download location list as a <%= link_to "csv", locations_path(format: "csv") %>.</p>
	  </div>
	  <div class="col-md-6">
			<% if signed_in? && current_user.contributor? %>	
				<%= link_to 'New Location', new_location_path, class: "btn btn-primary btn-md pull-right" %>
			<% end %>
	  </div>
	</div>
</div>

<%= will_paginate @locations %>

<%= form_tag export_locations_path do %>

	<%= render "shared/download_options" %>			

	<div class="row">
	  <div class="col-md-12">
			<ul class="list-group">
	    	<% @locations.each do |location| %>
				  <li class="list-group-item">							
						<div class="row">
			        <div class="col-sm-1" style="color: lightgrey;">
			        	<%= location.id %>
			        </div>

			        <div class="col-sm-5">
			        	<%= link_to location.location_name, location, 'data-no-turbolink' => true %>
	        			<small>(<%= location.latitude.round(3) %>,
	        			<%= location.longitude.round(3) %>)</small>
			        </div>

						 	<div class="col-sm-1">
								<%= check_box_tag "checked[]", location.id %>
							</div>

							<div class="col-sm-2">
								<% if not params[:pp] %>
				        	<%= render "shared/access_counts", :acc => Observation.where(:location_id => location) %>
								<% end %>
							</div>

			        <div class="col-sm-3">
						    <div class="btn-group pull-right">
						     	<%= link_to 'Show', location_path(location), 'data-no-turbolink' => true, class: "btn btn-xs btn-default" %>
								  <% if signed_in? && current_user.admin? %>
					        	<%= link_to 'Edit', edit_location_path(location), class: "btn btn-xs btn-default" %>
					        	<%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
									<% end %>
				        </div>
							</div>
						</div>
					</li>
		    <% end %>		
	    </ul>
		</div>
	</div>
<% end %>

<script type="text/javascript">
  var locations = <%= raw @locations.map {|i| [i.location_name.to_s, i.latitude.to_s, i.longitude.to_s, i.id.to_s] } %>;

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 1,
    center: new google.maps.LatLng(0, 155),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    streetViewControl: false
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent('<a data-no-turbolink="true" href="locations/'+locations[i][3]+'">'+locations[i][0]+'</a>');
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>







