<% provide(:title, @location.location_name) %>


<div class="page-header">
  <h1><%= @location.location_name %></h1>
</div>

<div class="row">
  <div class="col-md-4">
		<p>
		  <strong>Latitude:</strong>
		  <%= @location.latitude.round(4) %>
		</p>

		<p>
		  <strong>Longitude:</strong>
		  <%= @location.longitude.round(4) %>
		</p>
		
		<% if !@location.location_description.blank? %>
			<p>
			  <strong>Location description:</strong>
			  <%= @location.location_description %>
			</p>
		<% end %>

		<p>
		  <strong>User:</strong>
			<% if !@location.user.blank? %>
		  	<%= @location.user.name %>
			<% end %>
		</p>

    <div class="btn-group">
	  	<% if signed_in? && current_user.editor? %>
				<%= link_to 'Edit', edit_location_path(@location), class: "btn btn-sm btn-default" %>
			<% end %>
			<%= link_to 'Back', locations_path, class: "btn btn-sm btn-default" %>
		</div>
	</div>

  <div class="col-md-8">
		<div id="map-canvas" class="map-container"></div> 
	</div>

</div>

<br/>
<h3>Observations from <%= @location.location_name %></h3>

<% if @observations.empty? %>
	<p class="alert alert-danger">No observations available.</p>
<% else %>

	<div class="well">
		<div class="row">
			<div class="col-md-5">
				Access: <%= render "shared/access_counts", :acc => Observation.where(:location_id => @location.id) %> observations
			</div>
			<div class="col-md-4">
				<%= form_tag location_path, :method => 'get' do %>
						Displaying: <%= select_tag :n, options_for_select([10, 100, 1000, "all"], params[:n]), onchange: "$(this).parent('form').submit();" %> observations
				<% end %>
			</div>
			<div class="col-md-3">
				<%= link_to "Download", location_path(format: "csv", n: params[:n]), class: "btn btn-default btn-xs pull-right" %>
			</div>
		</div>
	</div>  

	<%= render "shared/observations" %>
<% end %>


<script type="text/javascript"> 
	function initialize() {
		var myLatlng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);	
		var mapOptions = {
		  zoom: 10,
		  center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.SATELLITE,
	    streetViewControl: false
		}
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		var marker = new google.maps.Marker({
		  position: myLatlng,
		  map: map
		});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script> 





