<% provide(:title, @location.location_name) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

		<h3><%= @location.location_name %></h3>

		<div class="row">
		  <div class="col-md-6">
				<p>
				  <strong>Latitude:</strong>
				  <%= @location.latitude.round(4) %>
				</p>

				<p>
				  <strong>Longitude:</strong>
				  <%= @location.longitude.round(4) %>
				</p>
				
				<% if !@location.location_description.blank? %>
					<p>
					  <strong>Location description:</strong>
					  <%= @location.location_description %>
					</p>
				<% end %>

				<p>
				  <strong>User:</strong>
					<% if !@location.user.blank? %>
				  	<%= @location.user.name %>
					<% end %>
				</p>
				
				<p><%= link_to 'Edit', edit_location_path(@location) %> |
				<%= link_to 'Back', locations_path %></p>
			</div>

		  <div class="col-md-6">
				<div id="map-canvas" class="map-container"></div> 
			</div>

		</div>

		<br/>
		<h3>Observations from <%= @location.location_name %></h3>

		<% if @observations.empty? %>
			<p class="alert alert-danger">No records available.</p>
		<% else %>
		
			<% if @observations.size < Observation.where(:location_id => @location.id).size %>
	      <div class="alert alert-danger">Not all records for this location are currently displayed.</div>
	    <% else %>
	    	<div class="alert alert-success">All records for this location are displayed.</div>
	    <% end %>

			<div class="well">
					
				<%= form_tag location_path, :method => 'get' do %>
					<div class="row">
					  <div class="col-lg-6">
					    <div class="input-group">
					      <%= text_field_tag :search, params[:search], :placeholder => "Search by value...", class: "form-control" %>
					      <span class="input-group-btn">
							    <%= submit_tag "Update", :name => nil, class: "btn btn-default" %>
									<%= link_to 'Reset', location_path, class: "btn btn-default" %>
					      </span>
					    </div>
					  </div>
						Return: <%= select_tag :n, options_for_select([10, 100, 1000, "all"], params[:n]) %> records.
					</div>
				<% end %>
			
				<% if @observations.size > 0 %>
				
					<br/>
			
					<%= link_to "Download", location_path(format: "csv", search: params[:search], n: params[:n]), class: "btn btn-success btn-md" %> currently displayed data.
					<% end %>
			</div>	


			<%= render "location_observations" %>
		<% end %>
	</div>
</div>




<script type="text/javascript"> 
	function initialize() {
		var myLatlng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);	
		var mapOptions = {
		  zoom: 10,
		  center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.SATELLITE,
	    streetViewControl: false
		}
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		var marker = new google.maps.Marker({
		  position: myLatlng,
		  map: map
		});
	
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script> 









