<% provide(:title, @location.location_name) %>


<div class="page-header">
  <h1><%= @location.location_name %></h1>
</div>

<div class="row">
  <div class="col-md-4">
		<p>
		  <strong>Latitude:</strong>
		  <%= @location.latitude.round(4) %>
		</p>

		<p>
		  <strong>Longitude:</strong>
		  <%= @location.longitude.round(4) %>
		</p>
		
		<% if !@location.location_description.blank? %>
			<p>
			  <strong>Location description:</strong>
			  <%= @location.location_description %>
			</p>
		<% end %>

		<p>
		  <strong>User:</strong>
			<% if !@location.user.blank? %>
		  	<%= @location.user.name %>
			<% end %>
		</p>

    <div class="btn-group">
	  	<% if signed_in? && current_user.editor? %>
				<%= link_to 'Edit', edit_location_path(@location), class: "btn btn-sm btn-default" %>
			<% end %>
			<%= link_to 'Back', locations_path, class: "btn btn-sm btn-default" %>
		</div>
	</div>

  <div class="col-md-8" data-no-turbolink>
		<div id="map-canvas" class="map-container" data-no-turbolink></div> 
	</div>

</div>

<br/>
<h3>Observations from <%= @location.location_name %></h3>

<% if @observations.empty? %>
	<p class="alert alert-danger">No observations available.</p>
<% else %>

	<%= will_paginate @observations %>
	<%= render "shared/observations" %>

<% end %>


<script type="text/javascript"> 
	function initialize() {
		var myLatlng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);	
		var mapOptions = {
		  zoom: 10,
		  center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.SATELLITE,
	    streetViewControl: false
		}
		var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		var marker = new google.maps.Marker({
		  position: myLatlng,
		  map: map
		});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script> 





