<% provide(:title, @location.location_name) %>

<div class="col-md-12">
  <h1>
    <% if @location.location_name != "Global" %>
      <span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" data-placement="bottom" title="Location"></span>
    <% else %>
      <span class="glyphicon glyphicon-globe" data-toggle="tooltip" data-placement="bottom" title="Global"></span>
    <% end %>

    <%= @location.location_name %>

		<% if @location.approval_status == "pending" %>
			<small><span class="label label-danger pull-right">pending approval</span></small>
		<% end %>
  </h1>
  <hr>
</div>


<div class="col-md-4">
  <p>
    <strong>ID:</strong>
      <%= @location.id %>
  </p>
  <p>
    <strong>Latitude:</strong>
    <%= @location.latitude.round(4) %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @location.longitude.round(4) %>
  </p>
  
  <% if !@location.location_description.blank? %>
    <p>
      <strong>Description:</strong>
      <%= @location.location_description %>
    </p>
  <% end %>

  <p>
    <strong>Added by:</strong>
    <% if @location.user %>
      <%= @location.user.name %> <%= @location.user.last_name %>
    <% end %>
  </p>

  <p>
    <div class="btn-group">
      <%= link_to 'Back', locations_path, class: "btn btn-default" %>
      <% if signed_in? && current_user.contributor? %>
        <%= link_to 'Edit', edit_location_path(@location), class: "btn btn-default" %>
      <% end %>
    </div>
  </p>

</div>

<div class="col-md-8" data-no-turbolink>
  <% if @location.location_name != "Global" %>
    <div id="map-canvas" class="map-container" data-no-turbolink></div> 
  <% end %>
</div>

<div class="col-md-12">

  <h3>Observations from <%= @location.location_name %></h3>

  <% if @observations.empty? %>
    <p class="alert alert-danger"><span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> No observations available</p>
  <% else %>
  	<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
  	<%= render "shared/observations" %>
    <br>
    <%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
  <% end %>
</div>

<script type="text/javascript">
  var loc = <%= raw [@location.location_name.to_s, @location.latitude.to_s, @location.longitude.to_s, @location.id.to_s] %>;

  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 10,
    center: new google.maps.LatLng(loc[1], loc[2]),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    streetViewControl: false
  });

  var infowindow = new google.maps.InfoWindow();

  marker = new google.maps.Marker({
    position: new google.maps.LatLng(loc[1], loc[2]),
    map: map
  });
</script>




